<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/project/project.css">
</head>
<body>
  <div class="wrap1">
      <h1>랜덤으로 메뉴 정해주는곳</h1>
        <li><a href="#" class="button">한식</a></li>
        <li><a href="#" class="button">중식</a></li>
        <li><a href="#" class="button">일식</a></li>
        <li><a href="#" class="button">분식</a></li>
        <li><a href="#" class="button">야식</a></li>
  </div>
  <figure>
      <img src="img/한식.jpg" width="200" height="300">
      <img src="img/중식.jpeg" width="200" height="300">
      <img src="img/일식.png" width="200" height="300">
      <img src="img/분식.png" width="200" height="300">
      <img src="img/야식.png" width="200" height="300">
  </figure>
</body>
</html>