<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTP-8">
    <title>legossol_resumeAboutme</title>
    <link rel="stylesheet" type="text/css" href="css/aboutMe.css">
    <style type="text/css">
        a { text-decoration:none }
    </style>
</head>
<body>
    <nav onblur="window.focus()" style="z-index: 3;">
        <div class="wrapper">
            <ul>
                <li><a th:href="@{/param/board/get?inAboutme}" class="a":hover>About Me</a></li>
                <li><a th:href="@{/param/board/get?inProject}"class="a":hover>Project</a></li>
                <li><a th:href="@{/param/board/get?inCareer}"class="a":hover>Career</a></li>
                <li><a th:href="@{/param/board/get?myFirstPage}"class="a":hover>Main Menu</a></li>
            </ul>
        </div>
    </nav>
    <!--box를 만들어서 어디서 코딩을 배웠는지, 다룰줄 아는 기술 들을 적는다.-->
    <div class="upBox" onblur="window.focus()" style="z-index: 2;">
    
        <div class="solaFont" >
            Jang Hae Sol <br>
            cotact <br>
            phone  : +82)1049380425 <br>
                     +44)7506402128 <br>
            E-mail : wkdgothf@gmail.com <br>
            github : https://github.com/legossol
        </div>
    </div>
    <div class="wrapper">
        <div class="upimg-container" style="z-index: 1;">
            <img src="img/code.jpg" width="1200" height="500">
        </div>
    </div>
    <div class="contentsIcon">
        <img src="img/education.png" width="45" height="45">
        <img src="img/communication.png" width="45" height="45">
        <img src="img/book.png" width="45" height="45">
        <img src="img/language.png" width="45" height="45">
    </div>
    <div class="wrapper">
        <div class="contentsExplainBox">
            학업이나 이력 같은것을 <br>
            설명함
        </div>
        <div class="contentsExplainBox">
            커뮤니케이션 능력을 설명
        </div>
        <div class="contentsExplainBox">
            지속적인 공부중을 어필
        </div>
        <div class="contentsExplainBox">
            사용가능한 언어 표시
        </div>
    </div>
</body>
</html>