<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/career.css">
    <link rel="stylesheet" href="css/Project.css">
    <title>Document</title>
</head>
<body>
    <!--상단 메뉴바-->
    <!--상단 좌측 아이콘-->
    <nav class="menuvar">
        <div class="menuvar-logo">
           <img src="img/sicongradation.png" width="40px" height="40px">
        </div>
        <!--상단 중앙 메뉴-->
        <ul div class="menuvar-menu">
            <li><a th:href="@{/param/board/get?inAboutme}">About Me</a></li>
            <li><a th:href="@{/param/board/get?inProject}">Project</a></li>
            <li><a th:href="@{/param/board/get?inCareer}">Career</a></li>
            <li><a th:href="@{/param/board/get?inProblemSolving}">Problem Solving</a></li>
            <li><a th:href="@{/param/board/get?myFirstPage}">Main Menu</a></li>
        </ul>
        <!--상단 우측 깃 연결 링크-->
        <div class="menubar-link">
            <a href="https://github.com/legossol"><img src="img/githubiconwhite.png"width="27px" height="27px"></a>
        </div>
    </nav>

    <!--좌측 메뉴바-->
    <div class="sidevar">
         <!--link거는 게 아닌 한 페이지 내에서 위아래 컨텐츠의 위치이동하는 타겟팅 사용할 계획-->
        <nav class="sidevar-menu">
            <ul>
                <!--Problem1 : list의 내용이 중간으로 가지않는다.-->
                <li>개인프로젝트1</li>
                <li>개인프로젝트2</li>
                <li>팀프로젝트1</li>
                <li>팀프로젝트2</li>
            </ul>
        </nav>
        
    </div>
    <!--프로젝트 메인 아웃렛-->
    <div class="mainoutlet">
        <!--프로젝트에 이용한 스킬 아이콘-->
        <div class="icon-container">
            <div class="javaicon-box"></div>
            <div class="jsicon-box"></div>
            <div class="htmlicon-box"></div>
        </div>  
        <div class="projectDiscription">
            <h1>프로젝트 제목</h1>
            <p>프로젝트의 내용 블라블라블라블라블라</p>
        </div>
    </div>
</body>
</html>