<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTP-8">
    <title>legossol_resumeAboutme</title>
    <link rel="stylesheet" type="text/css" href="css/aboutMe.css">
    <link rel="stylesheet" type="text/css" href="css/problem.css">
    <style type="text/css">
        a { text-decoration:none }
    </style>
</head>
<body>
<div id="wrapper">
    <!--상단 고정 메뉴바-->
    <nav onblur="window.focus()" style="z-index: 3;">
        <div class="wrapper">
            <ul>
                <li><a th:href="@{/param/board/get?inAboutme}" class="a":hover>About Me</a></li>
                <li><a th:href="@{/param/board/get?Project}"class="a":hover>Project</a></li>
                <li><a th:href="@{/param/board/get?Career}"class="a":hover>Career</a></li>
                <li><a th:href="@{/param/board/get?myFirstPage}"class="a":hover>Main Menu</a></li>
            </ul>
        </div>
    </nav>
    <!--상단 메뉴바 아래 이미지-->
    <div class="header-img">
        <img src="img/problem.jpg"height="500px" width="1200px">
    </div>
    <!--trello icon과 이름 -->
    <div class="trelloIcon">
        <img src="img/trello.png" width="70" height="70">
    </div>
    <p class="solaFont" style="font-size: 25px;">< Trello ></Trello></p>

    <!--trello이용 내용-->
    <div class="trellogrid">

    <div class="usingtrello">
        <img src="img/trellousing1.png" width="1000px" height="750px">
        <p>평소 trello를 이용하여 문제를 적어나가고 <br>
            해결함을 기술한다.
        </p>
    </div>
    <div class="usingtrello">
        <img src="img/trellousing2.png"width="1000px" height="750px">
        <p class="">평소 trello를 이용하여 문제를 적어나가고 <br>
            해결함을 기술한다.
        </p>
    </div>
    </div>   
</div>
</body>
</html>