<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTP-8">
        <title>legossol_resume</title>
        <link rel="stylesheet" href="/css/resumeUtility.css">
        <link rel="stylesheet" href="/css/resumeahitiFont.css">
        <div id="bg">
            <img src="/img/bg.png">
        </div>
    </head>
<body>
    <p class="monoFont" style="position: fixed; left: 5%; top: 0.5%; font-size: 20px;">
        ssol
    </p>
    <p class="athitiProfile"><a th:href="@{/param/board/get?inAboutme}">Profile</a></p>
    <p class="athitiProject"><a th:href="@{/param/board/get?inProject}">Project</a></p>
    <p class="athitiCareer"><a th:href="@{/param/board/get?inCareer}">Career</a></p>
    <p class=tri ></p>
    <p class=trisecond></p>
    <p class=trithird></p>
    <p class="myname">Jang hae sol</p>
    <p class="bilboFont">Frond-end and Back-end Developer</p>
    <p class="francois-box"><a th:href="@{/param/board/get?inAboutme}">about me</a></p>
    <button></button>
    <div class="round"></div>
    <div class="round" id="circle"></div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <a href="localhost:8080/insideresume"><img class="javapic"src="/img/javaiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="jspic"src="/img/jsiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="csspic"src="/img/cssiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="springpic"src="/img/springiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="htmlpic"src="/img/htmliconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="gitpic"src="/img/giticonwhite.png"><?
    
</body>
</html>
