<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        div {
            display: flex;
        }
    </style>
</head>
<body>
    <h2>Make Your Own Blending!</h2>
    <div>
        <form th:action="@{httpMethod/menu/about}">
            <input type="submit" value="About Us">
        </form>

        <form th:action="@{httpMethod/menu/customBlending}">
            <input type="submit" value="CustomBlending">
        </form>

        <form th:action="@{httpMethod/menu/singleOrigin}">
            <input type="submit" value="SingleOrigin">
        </form>

        <form th:action="@{httpMethod/menu/blending}">
            <input type="submit" value="Blending">
        </form>

        <form th:action="@{httpMethod/menu/equipment}">
            <input type="submit" value="Equipment">
        </form>

        <form th:action="@{httpMethod/menu/notice}">
            <input type="submit" value="Notice">
        </form>

        <form th:action="@{httpMethod/menu/join}">
            <input type="submit" value="join">
        </form>

        <form th:action="@{httpMethod/menu/cart}">
            <input type="submit" value="cart">
        </form>
</body>
</html>