<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box13.css">
</head>
<body>
    <div class="box1">box-sizing: content-box;
        width: 200px;
        height: 100px;
        margin: 10px;
        padding: 30px;
        border: 2px solid red;</div>
    <div class="box2">box-sizing: border-box;
        width: 200px;
        height: 100;
        margin: 10px;
        padding: 30px;
        border: 2px solid green;</div>
    <div class="box1">box-sizing = "contentbox"</div>
    <div class="box2">box-sizing = "contentbox"</div>
</body>
</html>