<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mat3by3Test</title>    
    <style>
        table, th, td{
            
            border: 2px solid rgb(0, 255, 55);
        }
        td{
           
            padding: 5px;  
        }
    </style>
</head>  
<body>
    <table>
        <tr>
            <td>o</td>
            <td>o</td>
            <td>x</td>
        </tr>
        <tr>
            <td>x</td>
            <td>x</td>
            <td>o</td>
        </tr>
        <tr>
            <td>o</td>
            <td>o</td>
            <td>o</td>
        </tr>
    </table>
</body>  
</html>
