.navbar {

    margin-left: 100px;
    overflow: hidden;
    background-color: #ffc1ed;
    height: 1000px;
    width: 500px;
}

.navbar a {

    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
/*
.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    margin-bottom: 10px;
    margin-top: 10px;
}
 */
#navbar div {
    ist-style-type: none;
    argin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border: 10px;
    height: 300px;
    position: relative;
}

.dropdown {

    overflow: hidden;
}

.dropdown2 {

    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.dropdown2 .dropbtn2 {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.navbar a:hover, .dropdown2:hover .dropbtn2 {
    background-color: black;
}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    /* rgba에서 a는 알파값으로 투명도를 의미함 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contents a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contents2 {
    display: none;
    position: absolute;
    background-color: #ff0000;
    min-width: 160px;
    /* rgba에서 a는 알파값으로 투명도를 의미함 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-contents2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-foots a {
    float: none;
}

.dropdown-contents2 a:hover {
    background-color: black;
}

.dropdown-contents a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-contents {
    display: block;
}

.dropdown2:hover .dropdown-contents2 {
    display: block;
}