<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resume</title>
    <link rel="stylesheet" href="css/resume.css">
</head>
<body>
    <div id="container">
        <h1>Resume</h1>
        </br>
        <p>
            노찬욱</br>
            cksdnr3333@gmail.com</br>
            +821023598374
        </p>
        </br>
        <div class="menu">Brief self introduction</div>
        <p class="content">
            Brief Self Introduction Contents
        </p>
        <div class="menu">Experience</div>
        <table class="content">
            <colgroup>
                <col>
                <col span="2">
                <col>
            </colgroup>
            <tr>
                <td>20.12.28 ~ 21.06.09</td>
                <td>디지털컨버전스 기반 UI/UX Front 전문 개발자 양성과정</td>
                <td></td>
                <td>비트캠프 서초 본원</td>
            </tr>
            <tr>
                <td>기간</td>
                <td>내용</td>
                <td></td>
                <td>위치</td>
            </tr>
            <tr>
                <td>기간</td>
                <td>내용</td>
                <td></td>
                <td>위치</td>
            </tr>
        </table>
        <div class="menu" id="skills">Skills</div>

            <figure>
                <img src="img/java.png" width="70" height="75">
                <figcaption><progress value="80" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/js.jpg" width="70" height="75">
                <figcaption><progress value="90" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/spring.png" width="80" height="85">
                <figcaption><progress value="80" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/react.png" width="70" height="75">
                <figcaption><progress value="80" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/html.png" width="70" height="75">
                <figcaption><progress value="70" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/css.png" width="70" height="75">
                <figcaption><progress value="70" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/git.png" width="70" height="75">
                <figcaption><progress value="70" max="100"></progress></figcaption>
            </figure>
            <figure>
                <img src="img/github.png" width="70" height="75">
                <figcaption><progress value="70" max="100"></progress></figcaption>
            </figure>




        <div class="menu">Level of education</div>
        <table class="content">
            <colgroup>
                <col>
                <col span="2">
                <col>
            </colgroup>
            <tr>
                <td>기간</td>
                <td>내용</td>
                <td></td>
                <td>위치</td>
            </tr>
            <tr>
                <td>기간</td>
                <td>내용</td>
                <td></td>
                <td>위치</td>
            </tr>
            <tr>
                <td>기간</td>
                <td>내용</td>
                <td></td>
                <td>위치</td>
            </tr>
        </table>

        <div class="menu">Portfolio</div>
        <p class="content">
            <a href="https://github.com/cksdnr3/GroupStudy.git" target="_blank">
                https://github.com/cksdnr3/GroupStudy.git</a>
        </p>
    </div>
</body>
</html>