.box1{
   float: left;
   width: 100px;
   background: #ffdd99;
   margin-right: 10px;
   padding: 20px;
}
/*box1기준으로 포지셔닝*/
.box2{
  position: relative;
  left: -50px;
  top: 30px;
  width: 300px;
  background-color: black;
  float: left;
  padding: 20px;
 
}