.box1{
   padding: 20px;
   margin-right: 10px;
   background: #ffd800;
   float: left;
}
.box2{
   padding: 20px;
   margin-right: 10px;
   background: #123452;
   float: left;
}
.box3{
   background: #ffffaa;

}
.box4{
   padding: 20px;
   background: #000000;
   border: 1px solid black;
   /*float(배치) 속성을 지운다*/
   clear: both;

}
