.box1{
   padding: 20px;
   margin-right: 10px;
   background: #ffd800;
   float: left;
}
.box2{
   padding: 20px;
   margin-right: 10px;
   background: #123452;
   float: left;
}
.box3{
    padding: 20px;
    background: #ffffaa;
    float: left;
 }
 .box4{
    padding: 20px;
    background: #000000;
    float: right;
    border: 1px solid black;

 }
