div{
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    /*테두리 두께*/
    border-width: 4px;
}
.box1{
    border-style: solid;
}
.box2{
    border-style: dotted;
}
.box3{
    border-style: groove;
    border-color: #2244ff;
}
.box4{
    border-style: dashed;
    border-color: #f01234;
}