@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Dhurjati&family=Do+Hyeon&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Dhurjati&family=Do+Hyeon&family=Jacques+Francois&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*정확한 width,height,padding을 표현하기 위해 ( 사용하지 않으면 아래 item 사이즈가 커짐 )*/
}
a{
    color:aliceblue;
    text-decoration: none;
}
.uppervar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 58, 82);
    padding: 10px 7px;
}
.left{
    justify-content: flex-start;
}
.neoalgocompany{
    margin-left: 5px;
    display: flex;
    font-family: 'Monoton', cursive;
    float: left;
    font-size: 20px;
    color: aliceblue;
}
.logobox{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.neoalgo-logo{
    margin-right: 10px;
    width: 45px;
    height: 45px;
}
.neoalgo-logo img{

    height: 100%;
    width: 100%;
}
.neoalgo-menu{
    font-family: 'Dhurjati', sans-serif;
    color:aliceblue;
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}
.neoalgo-menu li{
    padding: 8px 12px;
}
.neoalgo-menu li:hover{
    background-color: chocolate;
    border-radius: 4px;
}
.registerbox{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signin{
    display: flex;
    color:aliceblue;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 6px 10px;
    border: 1px solid white;
    margin-right: 5px;
    border-radius: 8px;
}
.joinus{
    margin-left: 10px;
    padding: 6px;
    color: aliceblue;
    text-align: center;
    float: right;
    border: 1px;
    border-radius: 8px;
    background-color: rgb(212, 138, 0);
}
.bgcontainer{
    display: flex;
    width: 60rem;
    height: 25rem;
    margin: 0 auto;
    background-size: cover;
}
.bg{
    opacity: 90%;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.bgcontainer-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 4);
    z-index: 1;
}
.bgcontainer .bgword{
    font-family: 'Bilbo Swash Caps', cursive;
    opacity: 80%;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:1.5rem;
    color: white;
    z-index: 2;
    text-align: center;
}
.bgcontainer .signup{
    color: aliceblue;
    padding: 5px 15px 5px 15px;
    
    border: 1px;
    border-radius: 8px;
    background-color: rgb(212, 138, 0);

    opacity: 90%;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:1.3rem;
    z-index: 3;
    text-align: center;
}

.regheadbox{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 2rem;
    width: 40rem;
    height: 4rem;
    padding: 2px;
    display: flex;
    margin: 0 auto;
    margin-top: 15%;
    justify-content: center;
}
.wrap{
    height: 100%;
    width: 100%;
}
.wrap table{
    justify-content: center;
}
.wrapcenter{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.regbox table{
    margin-left: 20px;
}

.searchdivi{
    float: left;
    overflow: hidden;
}

.searchdivi .dropbtn {
    font-size: 13px;
    border: none;
    outline: none;
    color: black;
    border: 1px solid black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(148, 148, 148);
}

.searchdivi-contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.searchdivi-contents a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.searchdivi-contents a:hover {
    background-color: #ddddff;
}
.searchdivi:hover .searchdivi-contents {
    display: block;
}