<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여긴 리뷰실험중</title>
</head>
<body>
<h1>HTML 기초 명령</h1>
<ul> "ul" - UnoerderedList의 약자로 순서가 없는 목록이다.<br>
    글머리 기호를 붙혀서 목록을 만드는 형식
</ul>
<hr>
<li> "li" - List Item 의 약자로 ul 태그와 ol태그의 내부에서 사용되는 태그다.<br>
    목록의 내용이 되는 실질적인 태그다.<br>
    들여쓰기 및 줄바꿈 기능이 있고 type 속성으로 다양한 기호를 사용할 수 있다.
</li>
<hr>
<ol> "ol" - Ordered List의 약자로 순서가 있는 목록이다.<br>
    번호 형식으로 순서를 매겨 목록을 만드는 형식!
    <ol type="a">type="a" <br>
        <li>타입a 1번</li>
        <li>타입a 2번</li>
    </ol>
    <ol type="i" start="5">
        <li>type="i" start="5" 로 시작값을 임의로 설정이 가능하다.</li>
    </ol>
</ol>
<hr>
<ul>"hr" - 수평선을 그을때 사용하는 태그다.
</ul>
<hr>
<blockquote>
    "blockquote" - 이는 인용문임을 나타내는 태그다.
</blockquote>
<hr>
<ul> "
    <mark>mark</mark>
    " - 특정 글씨를 형광색으로 칠할때 사용하는 태그다.
</ul>
<hr>
<ol type="1"> "strong, b" - 글씨를 두껍게 나타내는 태그다.<br>
    <li><strong>"strong" 태그</strong></li>
    <br>
    <li><b>"b" 태그</b></li>
    <br>
</ol>
<ol type="a"> "em, i" - 이탤릭 글씨체로 나타내는 태그다.
    <li><em>"em" 태그</em></li>
    <br>
    <li><i>"i" 태그</i></li>
</ol>
<hr>
<p> "p" - paragraph의 약자로 문단을 의미한다.</p>
<p>첫번째 문단과 두번째 문단 사이에 공백라인이 들어간다.</p>
<hr>
<ul>
    <li>"pre" - 원본 형태를 유지하여 출력하는 태그다.</li>
    <pre>funtion savetheLacal(){
            var second = document.getRlementById("second)
            ......
            console.log("do it!")
        } </pre>
</ul>
<hr>
<ul>"<span style="color: #ff0e16">span style</span>" - 특정 글자의 색을 강조하는 태그다.</ul>

</body>
</html>