@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.ad-font {
    font-family: 'Architects Daughter', 아키;
}

table, th, td {
    border: 1px solid #000000;
}

td {
    width: 200px;
    padding: 10px;
}

.resume-top {
    colspan: 5;
    height: 30px;
    width: 700px;
    align: center;
    color: #ffffff;
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, navy, purple);
}

.resume-photo {
    width: 120px;
    height: 150px;
}

.resume-cancel {
    background-color: red;
    font-size: 1em;
    text-decoration: line-through;
}

#text {
    background-color: #00fd22;
    text-align: right;
    text-shadow: 5px -5px 3px red;
}

#text2 {
    text-shadow: 5px -3px 3px red,
    -5px -5px 4px green,
    3px -7px 5px gray;
    text-align: left;
    background-color: yellow;
}

.resume-major {
    height: 30px;
    align: center;
    background-color: #ef8800
}

.resume-certificate {
    height: 30px;
    align: center;
    background-color: mediumpurple;
}

.resume-phone {
    background-color: #0d71e2;
    text-align: center;
}
