<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box2.css">
</head>
<body>
    <div id="inline"> <!--inline은 페이지 크기가 넘어가면 밑으로 내려감-->
        <img src="img/Yasuo.jpg" width="125" height="125">
        <img src="img/yone.jpg" width="125" height="125">
        <img src="img/skull.jpg" width="125" height="125"></br>
        <img src="img/Yasuo.jpg" width="250" height="250">
        <img src="img/yone.jpg" width="250" height="250">
        <img src="img/skull.jpg" width="250" height="250">
    </div>
    <div id="block"><!--block은 엔터하고 만들어짐-->
        <img src="img/Yasuo.jpg" width="125" height="125">
        <img src="img/yone.jpg" width="125" height="125">
        <img src="img/skull.jpg" width="125" height="125"></br>
        <img src="img/Yasuo.jpg" width="250" height="250">
        <img src="img/yone.jpg" width="250" height="250">
        <img src="img/skull.jpg" width="250" height="250">
    </div>
</body>
</html>