@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Noto+Sans+KR:wght@300;400;700;900&display=swap");

/* COMMON */
:root {
    /* COLOR */
    --white-color: #fff;
    --black-dark-color: #222;
    --grey-color: #333;
    --grey-bright-color: rgb(204, 189, 189);
    --main-color: #eaa173;
}

body {
    background-color: var(--black-dark-color);
    font-family: "Noto Sans KR", sans-serif;
    color: var(--white-color);
    box-sizing: border-box;
}

.body__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

ul,
li,
h3 {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

/* TITLE */

.bold-title {
    font-family: "Black Han Sans", sans-serif;
    font-size: 70px;
    letter-spacing: 5px;
    color: var(--main-color);
    line-height: 0;
}

.bold-subtitle {
    font-family: "Black Han Sans", sans-serif;
    font-size: 70px;
    letter-spacing: 5px;
    line-height: 0;
    color: var(--black-dark-color);
    text-shadow: -2px 0 #eaa173, 0 2px #eaa173, 2px 0 #eaa173, 0 -2px #eaa173;
}

/* HEADER */
header {
    padding-top: 30px;
}

header .main-menu {
    display: flex;
    justify-content: center;
}

header .main-menu li {
    margin: 0 40px;
}

header .main-menu li a {
    position: absolute;
    padding: 5px;
}

header .main-menu li a:hover {
    color: var(--main-color);
    transition: 0.9s;
}

header .main-menu li a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
}

header .main-menu li a:hover:after {
    transform: translateX(-50%) scaleX(1);
}

/* VISUAL */
#section__visual {
    height: 950px;
    padding-top: 30px;
}

#section__visual .main-txt {
    font-size: 16px;
}

#section__visual .main-title {
    font-size: 120px;
}

#section__visual .main-title p:last-child {
    color: var(--black-dark-color);
    text-shadow: -2px 0 #eaa173, 0 2px #eaa173, 2px 0 #eaa173, 0 -2px #eaa173;
    margin-bottom: 90px;
}

#section__visual .main-explain {
    width: 700px;
    color: var(--white-color);
    text-shadow: -1px 0 #222, 0 1px #222, 1px 0 #222, 0 -1px #222;
}

#section__visual .main-img {
    float: right;
    width: 500px;
    height: 550px;
    background-color: var(--main-color);
    color: var(--black-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 400px;
    right: 100px;
    z-index: -9;
}

#section__visual .sub-info {
    margin-top: 70px;
}

#section__visual .sub-info li {
    margin: 18px 0;
}

#section__visual .sub-info li:first-child {
    margin: 0;
}

#section__visual .sub-info p {
    margin: 5px 0;
    line-height: 1.5;
}

#section__visual .sub-info a {
    text-decoration: underline;
}

#section__visual .sub-info a:hover {
    color: var(--main-color);
    transition: ease-in 0.1s;
}

/* SKILL */
#section__skill {
    height: 750px;
    color: var(--white-color);
}

#section__skill h2 {
    justify-content: center;
    text-align: center;
}

#section__skill table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}

#section__skill table caption {
    margin-bottom: 10px;
}

#section__skill table th {
    padding: 10px;
    width: 80px;
    height: 80px;
}

#section__skill .back-end {
    padding-bottom: 30px;
}

#section__skill .front-end {
    padding-bottom: 30px;
}

#section__skill .back-end .backLogo1 {
    background: url("./img/Logo-java.png") no-repeat center;
    background-size: 100px 110px;
}

#section__skill .back-end .backLogo2 {
    background: url("./img/Logo-spring.png") no-repeat center;
    background-size: 100px 80px;
}

#section__skill .front-end .frontLogo1 {
    background: url("./img/Logo-html.png") no-repeat center;
    background-size: 80px 80px;
}

#section__skill .front-end .frontLogo2 {
    background: url("./img/Logo-css.png") no-repeat center;
    background-size: 82px 80px;
}

#section__skill .front-end .frontLogo3 {
    background: url("./img/Logo-js.png") no-repeat center;
    background-size: 85px 80px;
}

#section__skill .front-end .frontLogo4 {
    background: url("./img/Logo-react.png") no-repeat center;
    background-size: 100px 100px;
}

#section__skill .front-end .frontLogo5 {
    background: url("./img/Logo-sass.png") no-repeat center;
    background-size: 80px 80px;
}

#section__skill .tool .toolLogo1 {
    background: url("./img/Logo-git.png") no-repeat center;
    background-size: 80px 80px;
}

/* PROJECT */
#section__pj {
    height: 900px;
}

#section__pj h2 {
    justify-content: center;
    text-align: center;
}

#section__pj .project1,
#section__pj .project2 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#section__pj .project-img {
    width: 450px;
    height: 330px;
    background-color: var(--main-color);
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--black-dark-color);
}

#section__pj .project-summary {
    margin-top: 40px;
    width: 400px;
    text-align: left;
}

#section__pj .project-summary a {
    text-decoration: underline;
}

#section__pj .project-summary a:hover {
    color: var(--main-color);
    transition: ease-in 0.1s;
}

/* FOOTER */
footer {
    padding: 30px 0;
    justify-content: center;
    text-align: center;
}
