<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Internal link</p>
    <ul id="menu">
        <li><a href="#contents1">Contents1</a></li>
        <li><a href="#contents2">Contents2</a></li>
        <li><a href="#contents3">Contents3</a></li>
    </ul>

    <h2 id="contents1">Contents 1</h2>
    <p>Expressive, Concise, Clean, Efficient, Concurrency</p>
    <p>Expressive, Concise, Clean, Efficient, Concurrency</p>
    <p>Expressive, Concise, Clean, Efficient, Concurrency</p>

    <p><a href="#menu">Menu</a></p>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <h2 id="contents2">Contents 2</h2>
    <p>Internal Link</p>
    <p>Internal Link</p>
    <p>Internal Link</p>

    <p><a href="#menu">Menu</a></p>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <h2 id="contents3">Contents 3</h2>
    <p>Internal Link</p>
    <p>Internal Link</p>
    <p>Internal Link</p>

    <p><a href="#menu">Menu</a></p>
</body>
</html>