<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div id="game">

        <div class="create">
            <!-- v-model : class 같은 느낌 -->
            닉네임 : <input v-model="characterName">
            레벨 : <input v-model="characterLv">
            상태 : <input v-model="characterStatus">
            HP : <input v-model="characterHp">
            ATK : <input v-model="characterAtk">
            DEF : <input v-model="characterDef">
        </div>

        <div class="my">
            <p>닉네임 : {{ characterName }} 경험치 : {{ curExp }} / {{ needExp }}</p>
            <p>레벨 : {{ characterLv }}</p>
            <p>상태 : {{ characterStatus }}</p>
            <p>HP : {{ characterHp }}</p>
            <p>ATK : {{ characterAtk }}</p>
            <p>DEF : {{ characterDef }}</p>
            <p>캐쉬 : {{ cash }}</p>

            <table border="1">
                <caption>내 아이템</caption>
                <tr>
                    <th align="center" width="20">번호</th>
                    <th align="center" width="80">이름</th>
                    <th align="center" width="320">효과</th>
                    <th align="center" width="80">사용여부</th>
                </tr>
                <tr v-for=" (list, idx) in inventory" v-bind:key="list.itemName">
                    <th align="center" width="20">{{ idx + 1 }}</th>
                    <th align="center" width="80">{{ list.itemName }}</th>
                    <th align="center" width="320">{{ list.effect.desc }}</th>
                    <th>
                        <button @click="useItem()">사용하기</button>
                    </th>
                </tr>
            </table>
        </div>

        <div class="btnList">
            <button @click="addMonster()">몬스터 추가</button>
            <button @click="add100Monster()">몬스터 100마리씩 추가</button>
            <button @click="skill()">스킬 발동</button>
        </div>

        <ul class="monsterList">
            <!-- v-bind = directive 지시문 -->
            <li v-for="(monster, idx) in monsters"
                v-bind:key="monster.id"
                v-bind:class="{strong: monster.hp > 300}">
                ID.{{ monster.id }} {{ monster.monsterName }}
                HP.{{ monster.hp }} STATUS.{{ monster.status }}
                <button @click="doRemove()">몬스터 삭제</button>
                <span v-if="monster.hp > 300">강함</span>
                <span v-if="monster.hp <= monster.morbidity">빈사상태</span>
                <button @click ="doAttack(idx)">공격</button>
            </li>
        </ul>

        <div class="shop">
            <h3>상점</h3>
            <label>
                <input type="checkbox" v-model="shopView"
                        @click="shuffleShopList()">상점
            </label>
            <button @click="calcBuy()">구매</button>

            <table border="1">
                <tr v-if="shopView">
                    <th align="center" width="20">번호</th>
                    <th align="center" width="80">이름</th>
                    <th align="center" width="80">가격</th>
                    <th align="center" width="320">효과</th>
                    <th align="center" width="40">구매</th>
                </tr>
                <tr v-if="shopView" v-for="(list, idx) in shopList" v-bind:key="list.itemName">
                    <th align="center" width="20">{{ idx + 1 }}</th>
                    <th align="center" width="80">{{ list.itemName }}</th>
                    <th align="center" width="80">{{ list.price }}</th>
                    <th align="center" width="320">{{ list.effect.desc }}</th>
                    <th align="center" width="40">
                        <label>
                            <input type="checkbox" v-model="shopListValue" v-bind:value="idx">
                        </label>
                    </th>
                </tr>
            </table>
        </div>

    </div>

    <script src="/js/demoGame.js"></script>
</body>
</html>