
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>HTTP Method Main</h2>

<!--form을 생성 ㅡ> th: action > @html경로 > input 타입 "submit" 지정-->
<!--value 값 지정 사이트에선 클릭 하면 register html파일에 입력 내용이 노출-->
<form th:action="@{httpMethod/board/register}">
<!--    get일땐 포스트를 메서드를 폼에 적지 않는다.-->
    <input type="submit" value="getBoardRegisterForm()">
</form>

<form th:action="@{httpMethod/board/register}" method="post">
    <input type="submit" value="doRegister()">
</form>

<form th:action="@{httpMethod/board/modify}">
    <input type="submit" value="getBoardModifyForm()">
</form>

<form th:action="@{httpMethod/board/modify}" method="post">
    <input type="submit" value="doModify()">
</form>

<form th:action="@{httpMethod/board/remove}" method="post">
    <input type="submit" value="doRemove()">
</form>
</body>
</html>