<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            border: 1px solid #9932CC	;
        }
        th, td {
            witdth: 80px;
            padding: 10px;
        }
        thead, tfoot {
            background: fuchsia;
        }
    </style>
</head>
<body>
<table>
    <caption>Score Board</caption>
    <thead>
        <tr>
            <!-- th 는 가운데정렬의 기능도 포함됩니다 -->
            <th>Distiction</th>
            <th>Number of Group</th>
            <th>Number of Team</th>
            <th>Number of Member</th>
            <th>Number of Coach</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>SSS</th>
            <td>20</td>
            <td>80</td>
            <td>400</td>
            <td>160</td>
        </tr>
        <tr>
            <th>NightWatch</th>
            <td>12</td>
            <td>116</td>
            <td>1000</td>
            <td>44</td>
        </tr>
        <tr>
            <th>RizingForce</th>
            <td>33</td>
            <td>76</td>
            <td>545</td>
            <td>100</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Sum</th>
            <td>65</td>
            <td>272</td>
            <td>1945</td>
            <td>304</td>
        </tr>
    </tfoot>
    <tr>
        <th>Self Introduction</th>
        <td colspan="3"></td>
    </tr>
</table>
</body>
</html>