
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');
.ng-font{
    font-family: 'Nanum Pen Script', cursive;
}

p{
    font-size: 20px;
}
.em1-test{
    font-size: 1em;
}
.em3-test{
    font-size: 3.5em;
}
.italic-txt{
    font-style: italic;
}
.cancel-line{
    /*취소선*/
    text-decoration: line-through;
}
.upper-trans{
    text-transform: uppercase;
}
.capital-trans{
    text-transform: capitalize;
}
.lower-trans{
    text-transform: lowercase;
}
.shadow-orange-txt {
    color: orange;
    /* 그림자의 수평 거리, 수직 거리 */
    text-shadow: 1px 1px #000000;
}
.shadow-red-txt {
    /* 가우시안 블러의 정도(흐리기), 색상 */
    text-shadow: 5px 5px 3px #ff0000;
}
.shadow-white-txt {
    color: #777777;
    text-shadow: -5px 7px 5px #000000;
}
.shadow-cool-txt{
    color: #000000;
    text-shadow: 0 0 4px #777777,
                 2px -4px 4px #d16086,
                 2px -8px 4px #6d0b70,
                 2px -12px 4px #5123bb,
                 2px -0px 4px #c5c215;

}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-centre{
    text-align: center;
}
.align-justify{
    text-align: justify;
}
#container{
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px;
}
