<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <style>

    </style>
</head>
<body>
    <div id="container">
        <h1>프로필</h1>

        <img src="img/cat.jpeg">
        <h3>노찬욱</h3>
        <ul>
            <li id="introduction">소개
                <ul>
                    <li>1996.02.05</li>
                    <li>자신있는 분야:</li>
                    <li>주력 언어:</li>
                    <li>장점: </li>
                    <li>단점: </li>
                    <li>소개: </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>연락처
                <ul>
                    <li><strong>e-mail: </strong><a href="www.naver.com">cksdnr3333@gmail.com</a></li>
                    <li><strong>kakaotalk: </strong><a href="https://www.kakaocorp.com/service/KakaoTalk?lang=ko">cksdnr3333@naver.com, 찬욱</a></li>
                    <li><strong></strong></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>경험
                <ul>
                    <li>비트캠프 서초 본원 디지털컨버전스 기반 UI/UX Front 전문 개발자 양성과정 수료 (20.12.28 ~ 21.06.09)</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>개발 언어
                <ul>
                    <li><img src="img/java.png" width="50" height="50"></li>
                    <li><img src="img/js.jpg" width="50" height="50"></li>
                    <li><img src="img/html.png" width="50" height="50"></li>
                    <li><img src="img/css.png" width="50" height="50"></li>
                    <li>Git, Github</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>기술
                <ul>
                    <li><img src="img/spring.png" width="80" height="80"></li>
                    <li><img src="img/react.png" width="80" height="80"></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li>포트폴리오
                <ul>
                    <li>Nothing</li>
                    <li>Nothing</li>
                    <li>Nothing</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>