<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }

        td {
            padding: 15px;
        }

        tr > td:nth-child(odd) {
            width: 100px;
        }

        tr > td:nth-child(even) {
            width: 150px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <td></td>
            <th>Contact</th>
            <td></td>
        </tr>
        <tr>
            <th>Address</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>Self Introduction</th>
            <td colspan="3"></td>
        </tr>
    </table>

</body>
</html>