<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/style/common.css}" rel="stylesheet" />
    <link th:href="@{/style/welcome.css}" rel="stylesheet" />
</head>
<body>
    <div class="body__container">
        <div class="inner">

            <h2>가입완료</h2>

            <div class="welcome-txt">
                <p th:text="${email} +'님 회원가입이 완료되었습니다.'"></p>
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/main}">홈으로</a>
            </div>
        </div>
    </div>
</body>
</html>