div{
    width: 200px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    background: #00ffd8;
}
.round1{
    border-top-left-radius: 100px 50px;

}
.round2{
    border-bottom-right-radius: 50% 30%;
    
}
.round3{
    border-top-right-radius: 50px;
    
}
