div {
    /* 테두리 두께를 만든다 */
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-width: 4px;
}
.box1 {
    border-style: solid;
}
.box2 {
    border-style: dotted;
}
.box3 {
    border-style: groove;
    border-color: #5f6de0;
 }
.box4 {
    border-style: dashed;
    border-color: #23ca92;
}

