<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>registerForm</title>
  <link rel="stylesheet" href="/css/exercise/register.css">
</head>
<body>
<div id="#container">
  <form action="result.html" method="post"
        th:action="@{/thymeleaf/register}" th:object="${testMember}">
    <table>
      <tr>
        <td>아이디</td>
        <td>
          <input type="text" name="text" th:field="*{userName}"/>
        </td>
      </tr>
      <tr>
        <td>비밀번호</td>
        <td>
          <input type="text" name="text" th:field="*{password}"/>
        </td>
      </tr>
    </table>
    <button type="submit">Sign up</button>
  </form>
</div>
</body>
</html>