<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/selector/selector8.css">
    <title>Document</title>
</head>
<body>
    <h1>Lattice Structure</h1>
    <table>
        <tr>
            <td>Faith</td>
        </tr>
        <tr>
            <td>dodo</td>
        </tr>
        <tr>
            <td>tada</td>
        </tr>
        <tr>
            <td>bump</td>
        </tr>
        <tr>
            <td>giraff</td>
        </tr>
        <tr>
            <td>lion</td>
        </tr>
    </table>
</body>
</html>