<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/selector/selector2.css">
    <title>Document</title>
</head>
<body>
    <section id="container">
        <header><h1>상품 판매 리스트</h1></header>
        <p>가격 정보</p>
        <ul>
            <li>결제 방식
                <ul>
                    <li>신용카드</li>
                    <li>현금</li>
                    <li>계좌 이체</li>
                </ul>
            </li>
            <li>가격
                <ul>
                    <li>기계식 키보드: 10만원</li>
                    <li>마우스:5만원</li>
                    <li>모니터:23만원</li>
                    <li>cpu:37만원</li>
                </ul>
            </li>
        </ul>
    </section>
</body>
</html>