.content {
    border: 1px solid #cccccc;
    width: 300px;
    /*줄바꿈없음*/
    white-space: nowrap;
    /*넘치는 부분 감추기*/
    overflow: hidden;
    /*밑줄임표*/
    text-overflow: ellipsis;
}

.content:hover {
    overflow: visible;
}