@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

#container {
    font-size: 0.5em;
    font-weight: 400;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    color: #333333;
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 50px;
    max-width: 1060px;
}

.menu {
    padding: 25px 0 6px;
    border-bottom: 1px solid #bababa;
    font-weight: 550;
    color: #3B3D04; !important;
}

.content {
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    width: 626px;
}

table {
    width: 656px;
}

tr {
    border: 1px #000000
}

figure {
    display: inline-block;
}