@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/* COMMON */
body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* MAKE */
.context {
    text-align: center;
    letter-spacing: -1px;
    line-height: 1.5;
    padding-top: 70px;
}

.context .title {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 700;
}

.context .txt {
    font-size: 20px;
}

.context button {
    border: 1px solid;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.context button:hover {
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease;
}

.boxs {
    display: flex;
}

.test {
    margin-top: 50px;
    width: 500px;
    height: 100px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.test:hover {
    transform: rotate(15deg);
}

.test span {
    text-decoration: line-through;
}

.test p {
    text-transform: uppercase;
}

.test2 {
    margin-top: 50px;
    width: 500px;
    height: 100px;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.test2 p {
    font-size: 24px;
    text-shadow: 2px 2px 2px #222;
}

.font-change {
    font-family: "Rock Salt";
    font-size: 100px;
    color: #fff;
    text-shadow: -10px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    position: absolute;
    top: 300px;
    left: 12%;
}

h4 {
    text-align: justify;
    white-space: normal;
}
