<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RegisterForm</title>
</head>
<body>
<h2>관리자 시스템에 오신걸 환영합니다 로그인해주세요</h2>

<form action="result.html" th:action="@{/proj/login}"
      th:object="${testMember}" method="post">
    <table>
        <tr>
            <td>아이디</td>
            <td>
                <input type="text" name="text" th:field="*{userName}"/>

            </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>
                <input type="text" name="text" th:field="*{password}"/>
            </td>
        </tr>


    </table>

    <button type="submit">로그인</button>
</form>

</body>
</html>