<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../proj/projectpage.css">
</head>
<body>


<div class="navbar">
    <a href="#">홈</a>

    <a href="#">프로젝트 등록</a>
    <a href="#">프로젝트 현황</a>
    <a href="#">프리랜서 현황</a>
    <a href="#">Q&A</a>
    <a href="#">FAQ</a>
    <a href="#">통계</a>

    <a style="position:relative; left: 900px"
       th:href="@{/proj/home?register}">직원등록</a>
    <a style="position:relative; left: 900px" th:href="@{/proj/home?login}">로그인</a>
    <a style="position:relative; left: 900px" href="#logout">로그아웃</a>

</div>

<div></br>
    <table>
        <caption>프로젝트 현황</caption>
        <thead>
        <tr>
            <th>순번</th>
            <th>프로젝트명</th>
            <th>분야</th>
            <th>지원인원</th>
            <th>접수마감일</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>대기업 웹사이트 리뉴얼 PJ(3.5개월)</td>
            <td>기획</td>
            <td>10명</td>
            <td>2021-02-15</td>
            <td>박재민</td>
        </tr>

        <tr>
            <td>2</td>
            <td>중견기업 모바일 앱 고도화PJ(3.5개월)</td>
            <td>디자인</td>
            <td>10명</td>
            <td>2021-02-15</td>
            <td>박재민</td>
        </tr>


        <tr>
            <td>3</td>
            <td>대기업 커머스 결제 시스템 리뉴얼PJ(3.5개월)</td>
            <td>웹 개발</td>
            <td>10명</td>
            <td>2021-02-15</td>
            <td>박재민</td>
        </tr>


        <tr>
            <td>4</td>
            <td>카드사 포인트몰 네이티브 앱 개발(3.5개월)</td>
            <td>안드로이드 개발</td>
            <td>10명</td>
            <td>2021-02-15</td>
            <td>박재민</td>
        </tr>
        <tr>
            <td>5</td>
            <td>중견기업 모바일 앱 고도화PJ(3.5개월)</td>
            <td>IOS 개발</td>
            <td>10명</td>
            <td>2021-02-15</td>
            <td>박재민</td>
        </tr>
        </tbody>
    </table>

    <div1>
        <p>
            <button>이전페이지</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>다음페이지</button>
        </p>
    </div1>

    <div2>

        <select id="searchopt">
            <option value="select1">순번</option>
            <option value="select1">프로젝트명+내용</option>
            <option value="select1">작성자</option>
            <option value="select1">분야</option>
        </select>

        <input type="text"
               size="20" placeholder="검색어 입력">
        <button img src="">검색</button>
    </div2>

    <div3>
        <a href="#" title="맨위로"><img src="img/top.png" width="60"></a>
    </div3>

    <footer>
        <p>서울시 중랑구 신내로 | 대표 : 박재민 | 개인정보관리책임자 : 박재민</p>
        <p>사업자등록번호 : 581-88-33582 | 고객센터 : 02-5875-5565 | 팩스번호 : 02-5545-5555</p>
        <p>이메일 : djd453216@nate.com | Copyright ⓒ "상호명" All Rights Reserved </p>


    </footer>

</div>
<!--Start of Tawk.to Script-->
<script style="float: top; " type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/602a74199c4f165d47c36d01/1euitb1ll';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>