<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RegisterForm</title>
</head>
<body>
<h2>여러분의 입사를 진심으로 환영합니다 </br>직원 등록을 해주세요</h2>

<form action="result.html" th:action="@{/proj/register}"
      th:object="${testMember}" method="post">
    <table>
        <tr>
            <td>아이디</td>
            <td>
                <input type="text" name="text" th:field="*{userName}"/><button type="submit">중복확인</button>
            </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>
                <input type="text" name="text" th:field="*{password}"/>
            </td>
        </tr>

        <tr>
            <td>비밀번호 확인</td>
            <td>
                <input type="text" name="text" th:field="*{passwordiden}"/>
            </td>
        </tr>


        <tr>
            <td>전화번호</td>
            <td>
                <input type="text" name="text" th:field="*{phoneNum}"/>
            </td>
        </tr>

        <tr>
            <td>이메일</td>
            <td>
                <input type="text" name="text" th:field="*{Email}"/>
            </td>
        </tr>
    </table>

    <button type="submit">등록!</button>
</form>

</body>
</html>