table, td {
    border: 1px solid #cccccc;
}

td {
    height: 100px;
    padding: 20px;
}

.val1 {
    vertical-align: top;
}

.val2 {
    vertical-align: bottom;
}

.val3 {
    vertical-align: middle;
}