<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy List</title>
</head>
<body>
    <table>
        <tr>
            <th>구매 물건</th>
            <th>구매 수량</th>
            <th>주문일</th>
            <th>주문 번호</th>
        </tr>
        <tr>
            <td>옷(명품)</td>
            <td>1</td>
            <td>21.02.17</td>
            <td>12412312</td>
        </tr>
        <tr>
            <td>차(스포츠카)</td>
            <td>1</td>
            <td>21.02.17</td>
            <td>121321312</td>
        </tr>
    </table>
</body>
</html>