<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="menu.html" th:action="@{/exercise/login}"
      th:object="${testMember}" method="post">
    <table>
        <tr>
            <td>아 이 디</td>
            <td>
                <input type="text" name="text" th:field="*{id4Check}"/>
            </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>
                <input type="text" name="text" th:field="*{pw4Check}"/>
            </td>
        </tr>
    </table>
    <a href="#">아이디 찾기</a>
    <a href="#">비밀번호 찾기</a>

    <button type="submit">로그인!</button>
</form>
</body>
</html>