<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/menubar/menubar.css">
</head>
<body>
<div class="navbar">
    <a href="#home">홈</a>
    <div class="dropdown">
        <button class="dropbtn">
            마이 페이지
        </button>
        <div class="dropdown-contents">
            <a th:href="@{/exercise/home?buy_list}">구매 내역</a>
            <a th:href="@{/exercise/home?shipment}">배송 상태</a>
            <a th:href="@{/exercise/home?point}">포인트</a>
        </div>
    </div>
    <a th:href="@{/exercise/home?faq}">FAQ(자주 묻는 질문)</a>
    <a href="#" style=" float: right">로그아웃</a>
    <a th:href="@{/exercise/home?login}" style="float: right">로그인</a>
    <a th:href="@{/exercise/home?register}" style="float: right" >회원가입</a>
</div>
</body>
</html>