
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RegisterForm(first)</title>
    <script>
        alert("비밀번호를 확인하고 다시 입력해주세요!")
    </script>
</head>
<body>
<h2>Spring Form with Thymeleaf</h2>

<form action="welcomeForm.html" th:action="@{/exercise/register}"
      th:object="${testMember}" method="post">
    <table>
        <tr>
            <td>아 이 디</td>
            <td>
                <input type="text" name="text" th:field="*{userName}"/>
            </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>
                <input type="text" name="text" th:field="*{password}"/>
            </td>
        </tr>
        <tr>
            <td>비밀번호 확인</td>
            <td>
                <input type="text" name="text" th:field="*{password4Confirm}"/>
            </td>
        </tr>
    </table>

    <button type="submit">등록!</button>
</form>
</body>
</html>
