<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <link rel="stylesheet" href="css/resume.css">
</head>
<body>
<div id="menu">
    <header>
        <p>Dev VvsJM</p>
        <ul>

            <li><a class="box" href="#기타정보(More Info)">기타정보</a></li>
            <li><a class="box" href="#기술스텍(Technical Stack)">스킬</a></li>
            <li><a class="box" href="#소개(About me)">소개</a></li>
            <li><a class="box" href="#기본정보 (Basic Info)">기본정보</a></li>

            <div id="scrollsmooth4"></div>

        </ul>
    </header>

</div>
</br></br>

<main style="text-align: center">
    <div class="container">
        <div class="section">

            </br>
            <a name="기본정보 (Basic Info)"></a>
            <h2>기본정보 (Basic Info)</h2></br>

            <p>
                <img src="img/박재민.png" width="120" height="170"></p>
            </br>
            </br>
            <p>
                <img src="img/사람.png" width="30" height="30"> 박재민(1990.08.20)
                </br>
                </br>
                <img src="img/휴대폰.jpg" width="30" height="30"> 010-xxxx-xxxx
                </br>
                </br>
                <img src="img/이메일.png" width="30" height="30"> djd453216@nate.com
                </br>
                </br>

                <img src="img/깃.png" width="30" height="30"><a href="https://github.com/djd4532">
                https://github.com/djd4532</a></p>
            </br>


        </div>


        </br>


        <div class="section2">


            <hr>

            <a name="소개(About me)"></a>
            <h2>소개(About me)</h2></br>


            <p>"사용자의 관점에서 생각하고 어떻게 하면 조금 더 편하게 이용할 수 있을까?"라는 질문에
                항상 고민하고 이를 토대로 계획과 실행에 옮기는 것을 좋아하는 개발자입니다.</br>
                대놓고 프론트엔드가 좋다고 하지만 그렇다고 백엔드가 싫다는건 아닙니다.
                이에, 현실에 안주하지 않고 새로운 기술에 대해 끈임없이 공부하며 성장하고 있습니다.</br>
                그리고 성실함과 책임감을 바탕으로 맡은 업무를 해결하며, 동료들과 소통하면서 협업을 즐깁니다.
                마지막으로 회사에 쓸모있는 인재가 되고 싶습니다.</p>


        </div>

        </br>

        <hr>
        <div class="section3">
            </br>
            <a name="기술스텍(Technical Stack)"></a>
            <h2>기술스텍(Technical Stack)</h2>
            </br>
            <ul>
                <b>Frontend</b>
                </br>
                </br>
                <img src="img/HTML.png" width="47" height="47">
                <img src="img/css.png" width="50" height="50">
                <img src="img/JS.png" width="50" height="50">
                <img src="img/React.png" width="50" height="50">
                </br>
                </br>

                <progress value="0" max="100" id="pr"></progress>
                <button onclick="prFunc(1)" style="cursor: pointer;">Click</button>

                </br>
                </br>
                <b>Backend </b>
                </br>
                </br>
                <img src="img/JAVA.png" width="45" height="45">
                <img src="img/SPRING.png" width="45" height="45">
                <img src="img/node.png" width="60" height="45"></br></br>

                <progress value="0" max="100" id="pr2"></progress>
                <button onclick="prFunc2(1)" style="cursor: pointer;">Click</button>


                </br>
                </br>
                <b>Devops</b>
                </br>
                </br>
                <img src="img/리눅스.png" width="45" height="45">
                <img src="img/깃.png" width="45" height="45"></br></br>

                <progress value="0" max="100" id="pr3"></progress>
                <button onclick="prFunc3(1)" style="cursor: pointer;">Click</button>

            </ul>

        </div>

        </br>
        </br>

        <div class="section4">
            <hr>
            </br>
            <a name="기타정보(More Info)"></a>
            <h2>기타정보(More Info)</h2></br>
            <p>
                <img src="img/학사모.png" width="25" height="25" style="text-indent: 2px"> 한양사이버대학교 상담심리학과 졸업(2018.02)
                </br>
                </br>
                <img src="img/자격증.png" width="25" height="25" style="text-indent: 2px"> 사회복지사 1급(2014.04)
                </br>
                </br>
                <img src="img/인식표.png" width="25" height="25" style="text-indent: 2px"> 육군 병장 만기 전역(2011.12)
                </br>
                </br>
            </p>

        </div>


    </div>


</main>

<script>
    function prFunc(num) {
        if (num == 1) {
            document.getElementById('pr').value = '30'
        } else {

        }

    }

    function prFunc2(num) {
        if (num == 1) {
            document.getElementById('pr2').value = '30'
        } else {

        }

    }

    function prFunc3(num) {
        if (num == 1) {
            document.getElementById('pr3').value = '30'
        } else {
        }
    }


</script>
</body>
</html>