<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <link rel="stylesheet" href="css/resume.css">
</head>
<body>
<div id="container">
    <div id="main">
        <sectionA>
            <div class="box">
                <a href="#소개(About me)">소개</a></div>
            </br>
            <div id="scrollsmooth"></div>
            <div class="box">
                <a href="#기술스텍(Technical Stack)">기술스텍</a></div>
            </br>
            <div id="scrollsmooth2"></div>
            <div class="box">
                <a href="#경력사항(Work Experience)">경력사항</a></div>
            </br>
            <div id="scrollsmooth3"></div>
            <div class="box">
                <a href="#토이프로젝트(Toy Project)">토이프로젝트</a></div>
            </br>
            <div id="scrollsmooth4"></div>

            <p style="text-align: center;">
                <mark><strong>항상 발전하는 개발자</strong></mark>
            </p>

            </br>

            <h2 class="subtitle">기본정보 (Basic Info)</h2></br>

            <p style="text-align: center;">
                <img src="img/박재민.png" width="120" height="170"></p>
            </br>
            </br>
            <p style="text-align: center;">
                <img src="img/사람.png" width="15" height="15"> 박재민(1990.08.20)
                </br>
                </br>
                <img src="img/휴대폰.jpg" width="17" height="17"> 010-xxxx-xxxx
                </br>
                </br>
                <img src="img/이메일.png" width="13" height="13"> djd453216@nate.com
                </br>
                </br>

                <img src="img/깃.png" width="15" height="15"><a href="https://github.com/djd4532">
                https://github.com/djd4532</a></p>
            </br>
            </br>


        </sectionA>

        </br>


        <sectionB>

            </br>

            <a name="소개(About me)"></a>
            <h2 class="subtitle2">소개(About me)</h2>


            <p>"사용자의 관점에서 생각하고 어떻게 하면 조금 더 편하게 이용할 수 있을까?"라는 질문에
                항상 고민하고 이를 토대로 계획과 실행에 옮기는 것을 좋아하는 개발자입니다.
                대놓고 프론트엔드가 좋다고 하지만 그렇다고 백엔드가 싫다는건 아닙니다.
                이에, 현실에 안주하지 않고 새로운 기술에 대해 끈임없이 공부하며 성장하고 있습니다.
                그리고 성실함과 책임감을 바탕으로 맡은 업무를 해결하며, 동료들과 소통하면서 협업을 즐깁니다.
                마지막으로 회사에 쓸모있는 인재가 되고 싶습니다.</p>


        </sectionB>

        </br>

        <sectionC>
            <a name="기술스텍(Technical Stack)"></a>
            <h2 class="subtitle3">기술스텍(Technical Stack)</h2>

            <ul>
                <b>Frontend</b>
                </br>
                </br>
                <img src="img/HTML.png" width="47" height="47">
                <img src="img/css.png" width="50" height="50">
                <img src="img/JS.png" width="50" height="50">
                <img src="img/React.png" width="50" height="50">
                </br>
                </br>

                <progress value="0" max="100" id="pr"></progress>
                <button onclick="prFunc(1)" style="cursor: pointer;">Click 30%</button>
                <button onclick="prFunc(2)" style="cursor: pointer;">Click 50%</button>
                <button onclick="prFunc(3)" style="cursor: pointer;">Click 70%</button>
                <button onclick="prFunc(4)" style="cursor: pointer;">Click 90%</button>
                </br>
                </br>
                <b>Backend </b>
                </br>
                </br>
                <img src="img/JAVA.png" width="45" height="45">
                <img src="img/SPRING.png" width="45" height="45">
                <img src="img/node.png" width="60" height="45"></br></br>

                <progress value="0" max="100" id="pr2"></progress>
                <button onclick="prFunc2(1)" style="cursor: pointer;">Click 30%</button>
                <button onclick="prFunc2(2)" style="cursor: pointer;">Click 50%</button>
                <button onclick="prFunc2(3)" style="cursor: pointer;">Click 70%</button>
                <button onclick="prFunc2(4)" style="cursor: pointer;">Click 90%</button>

                </br>
                </br>
                <b>Devops</b>
                </br>
                </br>
                <img src="img/리눅스.png" width="45" height="45">
                <img src="img/깃.png" width="45" height="45"></br></br>

                <progress value="0" max="100" id="pr3"></progress>
                <button onclick="prFunc3(1)" style="cursor: pointer;">Click 30%</button>
                <button onclick="prFunc3(2)" style="cursor: pointer;">Click 50%</button>
                <button onclick="prFunc3(3)" style="cursor: pointer;">Click 70%</button>
                <button onclick="prFunc3(4)" style="cursor: pointer;">Click 90%</button>
            </ul>

        </sectionC>

        </br>

        <sectionD>
            <a name="경력사항(Work Experience)"></a>
            <h2 class="subtitle4">경력사항(Work Experience)</h2>

            <table>
                <thead>
                <tr>
                    <th>회사명</th>
                    <th>근무기간</br>
                        <!--근무기간 input을 입력하면 아래 <td> 입력이 되도록 하고싶은데 어떻게 하면 될까요?
                            개발환경, 언어도 동일합니다.-->
                        <label><input class="inp" type="date" id="start"></label>
                        <label><input class="inp" type="date" id="end"></label>

                    </th>
                    <th>업무내용</th>
                    <th>개발환경
                        </br>
                        <label class="reg" for="IDE"></label>
                        <select id="IDE">
                            <option value="IDE">
                                EClipse
                            </option>
                            <option value="IDE">
                                Intellij
                            </option>
                            <option value="IDE">
                                VsCode
                            </option>
                        </select>
                    </th>
                    <th>언어
                        </br>
                        <label class="reg" for="Lan"></label>
                        <select id="Lan">
                            <option value="Lan">
                                Javascript
                            </option>
                            <option value="Lan">
                                Java
                            </option>
                            <option value="Lan">
                                C
                            </option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </sectionD>

        </br>

        <sectionE>
            <a name="토이프로젝트(Toy Project)"></a>
            <h2 class="subtitle5">토이프로젝트(Toy Project)</h2>

            CI 사진 (개인 프로젝트명) CI 사진(프로젝트명)</br></br>

            (URL 또는 Git 링크) (URL 또는 Git 링크)</br></br>

            * 프로젝트 상세 정보는 링크에서 확인 부탁드립니다.
        </sectionE>
    </div>
</div>
<script>
    function prFunc(num) {
        if (num == 1) {
            document.getElementById('pr').value = '30'
        } else if (num == 2) {
            document.getElementById('pr').value = '50'
        } else if (num == 3) {
            document.getElementById('pr').value = '70'
        } else if (num == 4) {
            document.getElementById('pr').value = '90'
        }

    }

    function prFunc2(num) {
        if (num == 1) {
            document.getElementById('pr2').value = '30'
        } else if (num == 2) {
            document.getElementById('pr2').value = '50'
        } else if (num == 3) {
            document.getElementById('pr2').value = '70'
        } else if (num == 4) {
            document.getElementById('pr2').value = '90'
        }

    }

    function prFunc3(num) {
        if (num == 1) {
            document.getElementById('pr3').value = '30'
        } else if (num == 2) {
            document.getElementById('pr3').value = '50'
        } else if (num == 3) {
            document.getElementById('pr3').value = '70'
        } else if (num == 4) {
            document.getElementById('pr3').value = '90'
        }
    }

    function opFunc(num) {
        if (num == 1) {
            document.getElementById('op1').value = 'EClipse'
        } else if (num == 2) {
            document.getElementById('op2').value = 'Intellij'
        } else if (num == 3) {
            document.getElementById('op3').value = 'Vscode'
        }
    }
</script>
</body>
</html>