<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>인디독에 가입하세요</title>
    <link rel="stylesheet"  href="/css/login.css">
</head>
<body>
        <div class="login-box">
            <h2>약관내용</h2>
        <form action="phoneAuthentication.html" th:action="@{/personalproject/home/acceptTerms}"method="get">
        <table>

            <tr>
                <td>어쩌구 저쩌구</td>
            </tr>
        </table>
        <button type="submit">약관에 동의합니다.</button></br>
    </form>
        </div>
</body>
</html>