<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>반갑습니다 인디독 입니다.</title>
    <link rel="stylesheet"  href="/css/login.css">
</head>
<body>
        <div class="login-box">
            <h2>인디독에 오신걸 환영합니다.</h2>
        <form action="result.html" th:action="@{/personalproject/home/login}"
        th:object="${login}" method="post">
        <table>
            <tr>
                <td>아 이 디</td>
                <td>
                    <input type="text" name="text" th:field="*{userName}"/>
                </td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="password" th:field="*{password}"/>
                </td>
            </tr>
        </table>
        <button type="submit">로그인</button></br>
    </form>
    <p><a th:href="@{/#}">아이디 찾기</a></p>
    <p><a th:href="@{/#}">비밀번호 찾기</a></p>
    <p><a th:href="@{/personalproject/home/acceptTermsForm}">Sign Up</a></p>
        </div>
</body>
</html>