<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>인디독에 가입하세요</title>
    <link rel="stylesheet"  href="/css/login.css">
</head>
<body>
        <div class="login-box">
            <h2>핸드폰으로 인증을 해주세요</h2>
        <form action="signupForm.html" th:action="@{/personalproject/home/signupForm}"
        th:object="${testMember}" method="get">
        <table>
            <tr>
                <td>SKT</td>
            </tr>
            <tr>
                <td>인증번호</td>
                <td>
                    <input type="text" name="text" th:field="*{phoneAuthentication}">
                </td>
            </tr>
        </table>
        <button type="submit">약관에 동의합니다.</button></br>
    </form>
        </div>
</body>
</html>