<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>인디독에 가입하세요</title>
    <link rel="stylesheet"  href="/css/login.css">
</head>
<body>
        <div class="login-box">
            <h2>회원가입을 환영합니다</h2>
        <form action="result.html" th:action="@{/personalproject/home/login}"
        th:object="${testMember}" method="post">
        <table>
            <tr>
                <td>아 이 디</td>
                <td>
                    <input type="text" name="text" th:field="*{userName}"/>
                </td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    <input type="email" name="email" th:field="*{email}"/>
                </td>
            </tr>
            <tr>
                <td>인증번호</td>
                <td>
                    <input type="text" name="text" th:field="*{emailcode}"/>
                </td>
            </tr>
            
        </table>
        <button type="submit">등록</button></br>
    </form>
    <p><a th:href="@{/personalproject/home/}">아이디 찾기</a></p>
    <p><a th:href="@{/personalproject/home/}">비밀번호 찾기</a></p>
    <p><a th:href="@{/personalproject/home/}">Sign Up</a></p>
        </div>
</body>
</html>