<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test2</title>
    <style>
        table, th, td {
            /* 테두리 두께, 테두리 유형, 색상(ff = 255*/
            border: 1px solid #00fd22;
        }

        th {
            /* 셀 테두리와 내용 사이의 간경(패딩)*/
            padding: 15px;
        }

        tr > td:nth-child(odd) {
            /*홀수번째 열의 너비 : 150 고정*/
            width: 120px;
        }

        tr > td:nth-child(even) {
            /*짝수번째 열의 너비: 300 고정*/
            width: 300px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <td></td>
        <th>Contact</th>
        <td></td>
    </tr>
    <tr>
        <th>Address</th>
        <!-- colspan은 합칠 열의 개수를 의미한다
             rowspan은 합칠 행의 개수를 의미한다.-->

        <td colspan="3"></td>
    </tr>
    <tr>
        <th>Self Introduction</th>
        <td colspan="3"></td>
    </tr>
</table>
</body>
</html>