<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test3</title>
    <style>
        table, th, td {
            /* 테두리 두께, 테두리 유형, 색상(ff = 255*/
            border: 1px solid #00fd22;
        }

        td {
            width: 120px;
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <caption>Table Test4</caption>
    <!-- 열에 대한 정보들을 그룹핑하여 모두에게 적용함.-->
    <colgroup>
        <col>
        <col span="2" style="background-color: #00fd22">
        <col style="background-color: #efe368"
    </colgroup>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>