table{
    margin-bottom: 50px;
}

.table1{
    border: 1px solid black;
    /*border-spacing 속성은 인접한 표 칸의 테두리 간격을 지정.
    border-collapse가 separate여야 적용*/
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.table2{
    /*보더 없이 분리하여 실행*/
    border-collapse: separate;
    border-spacing: 20px 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}