.table1{
    border: 1px solid black;
    /*border-collpase
    보더의 경계를 없앤다(여백을 없애고 하나의 경계선으로만 나타냄)*/
    border-collapse: collapse;
}
.table1 td{
    border: 1px dotted #7777ff;
    padding: 10px;
    text-align: center;
}