.schedule{
    border-collapse: separate;
    margin: 20px;
    
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
기
#tb1 td{
    /*비어있는 셀을 보여주기*/
    empty-cells: show;
}

#tb2 td{
    /*비어있는 셀을 감추*/
    empty-cells: hide;
}