<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3by3 Test</title>
    <style>
        /* 표 만드는 방법 */
        table, th, td {
            /* 테두리 두께, 테두리 유형, 색상(ff = 255) */
            border: 10px solid #AFEEEE;
        }
        td {
            /* 셀 테두리와 내용 사이의 간격(패딩) */
            padding: 10px;
        }
        /* tr 은 가로줄(행) */
        /* th 은 제목열(두꺼워짐) */
        /* th,td는 열 */
    </style>
</head>
<body>
    <table>
        <tr>
            <td>1행 1열 입니다.</td>
            <td>1행 2열 입니다.</td>
            <td>1행 3열 입니다.</td>
        </tr>
        <tr>
            <td>2행 1열 입니다.</td>
            <td>2행 2열 입니다.</td>
            <td>2행 3열 입니다.</td>
        </tr>
        <tr>
            <td>3행 1열 입니다.</td>
            <td>3행 2열 입니다.</td>
            <td>3행 3열 입니다.</td>
        </tr>
    </table>
</body>
</html>