<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src = "img/Yasuo.jpg" alt = "Yasuo and Yone are Science and Math"
    width="400" height="300" usemap="#Lol"
>
<map name ="Lol">
    <area shape="rect" coords="110, 20, 290, 150"
    href = "https://en-gb.facebook.com/IFeakingLoveScience/"
    target = "_blank">
    <area shape="rect" coords="10,120,390,290"
    href="https://www.behance.net"
    target="_blank">

</map>

</body>
</html>