<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTP-8">
    <title>legossol_resumeAboutme</title>
    <link rel="stylesheet" type="text/css" href="css/aboutMe.css">
    <style type="text/css">
        a { text-decoration:none }
        </style>
</head>
<body>
    <nav>
        <ul style="text-align: center;">
            <li><a href="#" class="a":hover>About Me</a></li>
            <li><a href="#"class="a":hover>Project</a></li>
            <li><a href="#"class="a":hover>Career</a></li>
            <li><a href="#"class="a":hover>Main Menu</a></li>
        </ul>
    </nav>
    <!--box를 만들어서 어디서 코딩을 배웠는지, 다룰줄 아는 기술 들을 적는다.-->
    <div class="upBox">
    
        <div class="solaFont">
            Jang Hae Sol <br>
            cotact <br>
            phone  : +82)1049380425 <br>
                     +44)7506402128 <br>
            E-mail : wkdgothf@gmail.com <br>
            github : https://github.com/legossol
        </div>
    </div>
    <div class="upImg">
        <img src="img/code.jpg"width:800px height:500px>
    </div>
</body>
</html>