<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/career.css">
    <title>inCareer</title>
    
    
</head>
<body>
    <nav class="menuvar">
        <div class="menuvar-logo">
           <img src="img/slogo.png" width="40px" height="40px">
            
        </div>

        <ul div class="menuvar-menu">
            <li><a href="">About Me</a></li>
            <li><a href="">Project</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Problem Solving</a></li>
            <li><a href="">Main Menu</a></li>
        </ul>
        <div class="menubar-link">
            <a href="https://github.com/legossol"><img src="img/github-removebg-preview.png"width="27px" height="27px"></a>
        </div>
    </nav>
</body>
</html>