<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTP-8">
    <title>legossol_resumeAboutme</title>
    <link rel="stylesheet" type="text/css" href="css/aboutMe.css">
    <link rel="stylesheet" type="text/css" href="css/problem.css">
    <style type="text/css">
        a { text-decoration:none }
    </style>
</head>
<body>
    <nav onblur="window.focus()" style="z-index: 3;">
        <div class="wrapper">
            <ul>
                <li><a href="#" class="a":hover>About Me</a></li>
                <li><a href="#"class="a":hover>Project</a></li>
                <li><a href="#"class="a":hover>Career</a></li>
                <li><a href="#"class="a":hover>Main Menu</a></li>
            </ul>
        </div>
    </nav>
    <div class="header-img">
        <img src="img/problem.jpg">
    </div>
</body>
</html>