<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTP-8">
        <title>legossol_resume</title>
        <link rel="stylesheet" type="text/css" href="css/resume.css">
    </head>
    <body>
        <div class="upperbar">
            <div class="upperMenu"></div>
            <div class="upperMenubar">
                <!--사진이 들어간 이력서-->
                <!--task1:상단바에 메뉴바를 만들어 java,js 등등의 작업물로 이어지는 걸 만들계획
                현재 상단바 바로 아래에 메뉴바가 생성되있다.-->
            <div style="position: relative; top: 10px; text-align: center;" >;
                <img src="img/mySample.jpg" width=90 height=110>
            </div>
            <!--task2:사진 아래로 글씨가 나오게 조절해야함 사진이랑 겹치고있다.-->
            <div class="contact">
                cotact : +82)1049380425 <br>
                E-mail : wkdgothf@gmail.com <br>
                github : https://github.com/legossol
            </div>
            <div></div>
        
        </div>
       
    </body>
</html>
