<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTP-8">
        <title>legossol_resume</title>
        <link rel="stylesheet" href="css/resumeUtility.css">
        <link rel="stylesheet" href="css/resumeahitiFont.css">
        <div id="bg">
            <img src="img/bg.png">
        </div>
</head>
<body>
    <p class="monoFont" style="position: fixed; left: 5%; top: 0.5%; font-size: 20px;">
        ssol
    </p>
    <!--<a href ="#">로 연결하면 글씨체랑 색이 바뀐다 다른방법이 필요함
        sol1 : css에서 a태그에 미리 글자색을 지정해서 해결
        second problem : 밑줄은 text-decoration:none해도 사라지지 않았음-->
    <p class="athitiProfile"><a href="localhost:8080/resumeTwo">Profile</a></p>
    <p class="athitiProject"><a href="localhost:8080/secondResume">Project</a></p>
    <p class="athitiCareer"><a href="localhost:8080/spamSampleTest">Career</a></p>
    <p class=tri ></p>
    <p class=trisecond></p>
    <p class=trithird></p>
    <p class="myname">Jang hae sol</p>
    <p class="bilboFont">Frond-end and Back-end Developer</p>
    <p class="francois-box"><a href="localhost:8080/insideresume">about me</a></p>
    <button></button>
    <div class="round"></div>
    <div class="round" id="circle"></div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <a href="localhost:8080/insideresume"><img class="javapic"src="img/javaiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="jspic"src="img/jsiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="csspic"src="img/cssiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="springpic"src="img/springiconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="htmlpic"src="img/htmliconwhite.png"></a>
    <a href="localhost:8080/insideresume"><img class="gitpic"src="img/giticonwhite.png"><?
    
</body>
</html>
