<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTP-8">
        <title>legossol_resume</title>
        <link rel="stylesheet" href="css/changeFont.css">
        <h1><strong>
            
            장 해 솔 (Jang Hae Sol)

        </strong></h1>
    </head>



    <body>
        <span style ="display:inline-block; margin:10px; padding:5px; border:dotted 5px blue; color:blue; font-weight:bold; background:pink;">
            ‘보노보노는 행복합니다.’</span>
            
            <div class="shadow-whileblue">
            '난 않되'라는 단어가 제일 좋다 두글자 밖에 없는데 <br>
            두글자 모두 틀려먹은게 내 인생이랑 비슷함
            </div>
        <div class="box-resume">
            '흰개미햝기'라는 이름 존나 대충지음
            </div>
            <br>
            <span class="culture-text">
            영문 모를 종족이 와서 관찰하다가 얘는 흰개미를 햝아서 주식으로 자주먹네 하고 붙인거
            어느날 외계인이 나 밥먹는걸 관찰하더니 '잡곡밥퍼먹기'라고 이름 붙인거와 다름이 없다.
            </span>
    </body>
</html>
