<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTP-8">
        <title>legossol_resume</title>
        <link rel="stylesheet" href="css/resume.css">
    </head>
    <body>
        <div class="img">
            <div class="content">
                <h3>장 해 솔</h3>
            </div>
            <!--먼저 이 페이지가 보여지고 각 아이콘을 클릭하면 
                작업했던 작업물들로 들어가는 방식-->
                
            <!--사진의 위치를 강제로 변경하려 한다. 어떻게해야할까?
                A : 강제로 사진의 위치를 변경하는 방법중 하나아래-->
            <div style="position: absolute; top: 300px; left: 100px;" >
                <img src="img/javapictogram.png" width="50" height="50">
            </div>
            <div style="position: absolute; top: 300px; left: 400px;" >
                <img src="img/htmlpictogram.png" width="50" height="50">
            </div>
            <div style="position: absolute; top: 300px; left: 700px;" >
                <img src="img/jspictogram.png" width="50" height="50">
            </div>
            <div style="position: absolute; top: 300px; left: 1000px;" >
                <img src="img/springpictogram.png" width="50" height="50">
            </div>
            <div style="position: absolute; top: 300px; left: 1300px;" >
                <img src="img/csspictogram.png" width="50" height="50">
            </div>
            </div>
            <div class="img-cover"></div>
        </div>
    </body>
</html>
