<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
    <style>
        .box{
            display:inline-block; /* default값 inline */
            width:100px; /* display가 block일때만 지정가능 */
            height:50px; /* display가 block일때만 지정가능 */
            background-color:green; /* 배경색 = green */
            margin-left:10px; /* 왼쪽 margin 10px */
            padding:20px; /* padding 20px */
            border:5px dashed skyblue; /* 테두리 */
            font-style:italic; /* 글자형태 : 이태릭체 */
            color:white /* 글자색 : white */
        }
    </style>
 
</head>
<body>
	<!-- 크기와 배경색 지정 -->
	<span style ="display:block;width:100px;height:50px; background:yellow">애국가</span>
	
	<!-- 글자의 색상과 타입 지정 -->
    <p>동해물과 
        <span style="color:blue; font-weight:bold"> 백두산이 </span>
        마르고 닳도록 
        <span style="color:red;font-style:italic">하나님이 보우하사</span> 우리나라 만세<br>
	
	<!-- margin, padding, 테두리색 지정 -->
	<span style ="display:inline-block; margin:10px; padding:5px; border:dotted 5px blue; color:blue; font-weight:bold; background:pink;">무궁화 삼천리 화려강산</span> <br>
	
	<!-- span태그의 css지정 -->
	<span class="box">대한사람 대한으로 길이 보전하세</span>
</body>
</html>