<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box2.css">
</head>
<body>
    <div id="inline">
        <img src="img/github.png" width="125" height="125">
        <img src="img/buttonCircle.jpg" width="125" height="125">
        <img src="img/C.png" width="125" height="125">
        <img src="img/phone.jpeg" width="125" height="125">
        </br>
        <img src="img/github.png" width="250" height="250">
        <img src="img/buttonCircle.jpg" width="250" height="250">
        <img src="img/C.png" width="250" height="250">
        <img src="img/phone.jpeg" width="250" height="250">
    </div>
    <div id="block">
        <img src="img/github.png" width="125" height="125">
        <img src="img/buttonCircle.jpg" width="125" height="125">
        <img src="img/C.png" width="125" height="125">
        <img src="img/phone.jpeg" width="125" height="125">
        </br>
        <img src="img/github.png" width="250" height="250">
        <img src="img/buttonCircle.jpg" width="250" height="250">
        <img src="img/C.png" width="250" height="250">
        <img src="img/phone.jpeg" width="250" height="250">
    </div>
</body>
</html>