body {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.content p {
    border: 1px solid;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content p:hover {
    overflow: visible;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 1rem;
    background-color: #222;
    margin: 0;
    padding: 10px;
}

h2 {
    color: #ff0000;
    text-align: cneter;
    font-size: 1.2rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.accent {
    font-weight: 700;
}

.imgtest {
    list-style-image: url("https://dictionary.cambridge.org/ko/images/thumb/button_noun_002_05071.jpg?version=5.0.151");
}

/* %로 작성할시 +,- 영향을 받지 않는다 */
.box1 {
    width: 400px;
    height: 100px;
    background-color: tomato;
}

.box2 {
    width: 50%;
    height: 100px;
    background-color: teal;
}

.inline img {
    margin: 10px;
}

.block img {
    display: block;
    margin: 10px;
}

nav {
    width: 100%;
    height: 40px;
    background-color: green;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    /* display: inline; */
    padding: 10px;
    margin: 0 40px;
}

nav ul li:hover {
    background-color: coral;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.common-style {
    width: 300px;
    height: 60px;
}

.block1 {
    display: inline;
    background-color: aqua;
}

.block2 {
    display: block;
    background-color: blueviolet;
}

/* 인라인블록의 문제점 = 내용이 초과되어도 
줄바꿈이 이뤄지지 않음 */
.block3 {
    height: auto;
    padding: 30px;
    display: inline-block;
    background-color: darkblue;
}

.box3 {
    height: 100px;
    border-width: 4px;
    border-style: dotted;
    border-radius: 5px;
}

.box3 p {
    border-bottom: 3px solid olivedrab;
}

.box4 {
    border: 3px groove red;
    border-radius: 70px/20px;
    float: left;
}

.box5 {
    float: right;
    height: 120px;
    border: 3px dashed darkkhaki;
    border-top-right-radius: 50px;
    background-size: cover;
    background: no-repeat
        url("https://dictionary.cambridge.org/ko/images/thumb/button_noun_002_05071.jpg?version=5.0.151");
}

.box6 {
    box-sizing: content-box;
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 30px;
    background-color: cornflowerblue;
}

.box7 {
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 30px;
    background-color: cornflowerblue;
}

#container {
    width: 600px;
    padding: 20px;
}

header {
    padding: 20px;
    margin-bottom: 20px;
}

.sidebars {
    width: 180px;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
}

.content {
    width: 400px;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
}

footer {
    clear: both;
    padding: 20px;
}
