div {
    width: 300px;
    height: 300px;
}

.box1 {
    margin: 40px;
    float: left;
    padding: 20px;
    background-color: blueviolet;
}

.box2 {
    /* 상대적인 위치 이동 */
    position: relative;
    top: 30px;
    left: -50px;
    background-color: yellow;
}
