<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDIEDOG-새로운 인디게임의 시작</title>
    <link rel="stylesheet"  href="css/style.css">
</head>
<body>
<div class="layout">
    <header class="layout-header">
        <div id="default-gnb">
            <div class="gnb-inner">
                <div class="col-left">
                    <h3><a href="#home">LogoImg</a> </h3>
                </div>
                    <div class="col-center">
                <div class="col-center1">
                    <h3><a href="#home">All Game</a> </h3>
                </div>
                <div class="col-center2">
                    <h3><a href="#home">Game Pass</a> </h3>
                </div>
                <div class="col-center3">
                    <h3><a href="#home">Cloud Game</a> </h3>
                </div>
                <div class="col-center4">
                    <h3><a href="#home">Community</a> </h3>
                </div>
            </div>
            <div class="gnb-right">
                <div class="gnb-right1">
                    <h3><a href="#home">LANGUAGE</a> </h3>
                </div>
                <div class="gnb-right2">
                    <h3><a href="#home">Total Menu</a> </h3>
                </div> 
                <div class="gnb-right3">
                    <h3><a href="#home">Login</a> </h3>
                </div>
            </div>
            </div>
        </div>         
    </header>
        <div class="subs-pics">
            <div class="subs-pics1">
                <img src="img/skullmainpageimage.jpg" alt="SKULL INDIEGAME">
            </div>
            <div class="subs-pics2">
                <img src="img/lemiloremainimg.jpg" alt="SKULL INDIEGAME">
            </div>
            <div class="subs-pics3">
                <img src="img/zheltermainimg.png" alt="SKULL INDIEGAME">
            </div>
            <div class="subs-pics4">
                <img src="img/dungreedmainimg.jpg" alt="SKULL INDIEGAME" >
            </div>
            <div class="curtain"><h3>저렴한 월정액 가격으로 더 많은 인디게임을 사용하는 혜택</br>
                다운이 필요없는 클라우딩 게이밍을 즐겨보세요</h3>
                <div class="box"><h2> Subscribe</h2></div>
            </div>
        </div>
        
    <div class="moregame-font"><h3>더 많은 게임을 만나보세요</h3></div>
    <div id="moregame">
        <img src="img/ratropolismainimg.jpg" alt="skullllll">
        <img src="img/dungreedmainimg.jpg" alt="skullllll">
        <img src="img/lemiloremainimg.jpg" alt="skullllll">
        <img src="img/hades.jpg" alt="skullllll">
        <img src="img/witchinthewoods.jpg" alt="skullllll">
        <img src="img/skullmainimage.jpg" alt="skullllll">
        <img src="img/zheltermainimg.png" alt="skullllll">
    </div>
</div>

</body>
</html>
