ul {
    list-style: none;
}

li {
    /*block일 경우 로 배치*/
    width: 120px;
    display: inline-block;
    margin: 10px;
}

li a {
    padding: 5px 20px;
    font-size: 14px;
    color: blue;
    text-decoration: none;

}

.flat {
    background: blue;
    color: white;
}

/* class에 button이라는 단어가 존재한다면 아래와 같이 적용하라~ */
[class ~= "button"] {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
}

a[title |= "c"]{
    background: #1afacf;
    color: black;
}

/* |= 타이틀에 파이선이 설정되어 있으면 아래와 같이 실행하라*/
a[title |= "python"]{
    background: #ddddff;
    color: black;
}