<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>전체 글 보기</title>
    <link rel="stylesheet"  href="/css/totalcummunity.css">
</head>
<body>
    
    <div class="left-box"></div>
    <div class="comm-box">
        <h2 class="font-test">totalList</h2>
        <a th:href="@{/personalproject/home/community/get?register}">
            Register
        </a>
        <a th:href="@{/personalproject/home/community/get?read}">
            Read
        </a>
    </div>
    <div class="right-box"></div>

  
</body>
</html>