<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>전체 글 보기</title>
    <link rel="stylesheet"  href="/css/totalcummunity.css">
</head>
<body>
    <table>
        <tr>
            <td colspan="4">전체 최신글</td>
        </tr>
        <tr>
            <th width="80">번호</th>
            <th width="320">제목</th>
            <th width="100">글쓴이</th>
            <th width="180">등록일자</th>
        </tr>
        <tr th:if="${#lists.isEmpty(totallist)}">
        <td colspan="4">
            게시판이 비어 있습니다.
        </td>
        </tr>
        <tr th:each="board : ${totallist}">
            <td align="center" th:text="${board.boardNo}">
                ${board.boardNo}
            </td>
            <td align="left">
                <a href="read.html"
                   th:href="@{|read?boardNo=${board.boardNo}|}"
                   th:text="${board.title}">${board.title}</a>
            </td>
            <td align="right" th:text="${board.writer}">
                ${board.writer}
            </td>
            <td align="center"
                th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}">
                ${board.regDate}
            </td>
        </tr>
    </table>
</body>
</html>