@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #000;
}
body{
    font-family: 'NEXON Lv2 Gothic';
    background-color: rgba(66, 66, 66, 0.5);
    
}

.login-box{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    box-shadow: rgba(65, 65, 65, 0.9);
    background: whitesmoke;
    position:absolute;
    left:40%;
    top:20%;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    
}
.login-box h2{
    font-size: bold;
    vertical-align: top;
}
.login-box table{
    margin-top: 50%;
    margin-left: 80px;
    margin-bottom: 15px;

}
.login-box p, a{
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    margin: 5px 5px;
    background-color: inherit;
    text-align: center;
}
.login-box a:hover{
    background-color: inherit;
}