.comm-box{
    border: 2px solid #cccccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 90%;
    height: 100%;
    z-index: 100;
    
}
.left-box{
    float: left;
    width: 10%;
    height: 100%;
    border: 1px solid gray;
}
.rigth-box{
    float: right;
    width: 10%;
    height: 100%;
    border: 1px solid gray;
}
.font-test{
    color: aquamarine;
}