a {
    color: #eeab37;
}

.box {
    display:block;
    width:200px;
    height:40px;
    line-height:40px;
    border:2px #3399dd solid;
    margin:15px auto;
    background-color:#66aaff;
    text-align:center;
    cursor: pointer;
    color:#333;
    transition:all 0.9s,color 0.3s;


}

.box:hover {
    color:#fff;
    /* webkit: 크롬, 사파리 */
    /*-webkit-transform: rotate3d(5,5,5,100deg);*/
    /* moz: 파이어폭스 */
    -moz-transform: rotate(15deg);
    /* 엣지 */
    -ms-transform: rotate(15deg);
    transform-origin: center top;
}

#container {
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: 20px auto;
    /* 테두리 스타일이 solid -> dotted 로 변경된 부분에 집중 */
    border: 3px solid gray;
}

mark {
    font-size: 30px;
    position: relative;
    size: 220px;
    border: 2px solid #df8912;
    border-collapse: collapse;
}

table {
    width: 100%;
    border: 1px solid #df8912;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background: #23ca92
}

td, th {
    border: 1px solid #1afacf;
    padding: 6px;
    font-size: 0.8em;
    height: 30px;
    width: 300px;
}

tbody {
    width: 120px;
}

b {
    font-size: 25px;
}

h2.subtitle {
    text-align: center;
}

h2.subtitle2 {
    text-align: center;
}

h2.subtitle3 {
    text-align: center;
}

h2.subtitle4 {
    text-align: center;
}

h2.subtitle5 {
    text-align: center;
}

progress {
    width: 50%;
    height: 25px;

}


input.inp {
    height: 15px;
    text-align: center;

}


html {
    scroll-behavior: smooth;
}