a {

    color: white;
    background-color: #66aaff;
    height: 10%;
    border: 100px;
    transition: all 0.9s, color 0.3s;
    margin: 15px auto;
    text-decoration: none;
}


a:hover {
    color: black;

}


.box {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: large;
    font-weight: bolder;
    border-radius: 100px;
    margin: 10px auto;
    background-color: #66aaff;
    clear: both;
    cursor: pointer;
    color: white;
    transition: all 0.9s, color 0.3s;
    text-decoration: none;
    position: relative;
    right: 545px;
    bottom: 170px

}

.box:hover {
    color: black;
}

header p {
    font-size: xxx-large;
    text-align: center;
    position: relative;
    top: 30px


}

header ul li {
    list-style-type: none;
    margin: 30px;
    text-align: center;
    float: right;
}

#menu {
    float: bottom;
    padding-bottom: 20px;
    margin: 20px;
    border: 2px solid pink;
    background: #ecece6;

}


.main-container {

    width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;


}


body {
    background-repeat: no-repeat;
    background-size: cover;
}


b {
    font-size: 25px;
}

progress {
    width: 50%;
    height: 25px;

}


html {
    scroll-behavior: smooth;

}

p {
    line-height: 50px;

}
