<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지원서를 써보자!</title>
    <style>
        table, th, td {
            border: 1px solid #000000;
        }

        td {
            width: 200px;
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <th colspan="5" height="30" width="700" align="center" bgcolor="#ffe4c4"> Rusume</th>
    <tr>
        <th rowspan="4" width="120" height="150">사 진</th>
    </tr>
    <tr>
        <th bgcolor="#ffe4c4"><b>이 름</b></th>
        <th>조 진 형</th>
        <th bgcolor="#ffe4c4"><b>생년월일 성별</b></th>
        <th>1992.12.16 (
            <mark>남</mark>
            ,여)
        </th>
    </tr>
    <tr>
        <th bgcolor="#ffe4c4"><b>주 소</b></th>
        <th>성남시 분당구 판교역로 102 505-102</th>
        <th bgcolor="#ffe4c4"><b>H P</b></th>
        <th>010-5327-4081</th>
    </tr>
    <tr>
        <th bgcolor="#ffe4c4"><b>M a i l</b></th>
        <th>korjjh1216@naver.com</th>
        <th bgcolor="#ffe4c4"><b>Git Hub</b></th>
        <th><a href="https://github.com/korjjh1216" target="_blank">https://github.com/korjjh1216</a></th>
    </tr>
    <tr>
        <th colspan="2" height="30" align="center" bgcolor="#ffe4c4"> 전 공</th>
        <th>건설시스템</th>
        <th colspan="" height="30" align="center" bgcolor="#ffe4c4"> 자 격 증</th>
        <th>운전면허1급, TOEIC</th>
    </tr>
    <th colspan="5" height="30" width="400" align="center" bgcolor="#ffe4c4"> 경 력</th>
    <tr>
        <th colspan="5" lowspan="4" align="center"> -----</th>
    </tr>
    <tr>
        <th colspan="5" height="30" width="600" align="center" bgcolor="#ffe4c4"> Computer Skills</th>
    </tr>
    <tr>
        <td colspan="5" lowspan="3" align="center">
            <img src="/img/java.png" width="190" height="150">
            <img src="/img/JS.png" width="190" height="150">
            <img src="/img/spring.png" width="190" height="150">
            <img src="/img/html.png" width="190" height="150">
            <img src="/img/linux.png" width="190" height="150">
            <img src="/img/github.png" width="190" height="150">
        </td>
    </tr>
    <tr>
        <td colspan="5" lowspan="3">
            <b>To Instructor.</b><br>
            아래 내용은 코딩반을 지원할 신입 수강생을 가정하여
            지원할 회사에 맞춰 반드시 고쳐져야될 내용이므로 틀만 봐주시면 감사하겠습니다
            비전공이지만 1.5개월 코딩수업 경험이 있는 저는 강사님의 수업을 듣기 위해 이 반에 지원했습니다.
            수업을 듣기위한 자바기초 동영상을 보며 준비했으며, 꾸준한 숙제를 진행중입니다.
            <hr>
            <p><b>MAJOR</b>
            <li>Geometry</li>
            <li>Applid Mechanics</li>
            <li>Hydraulics</li>
            <li>Reinforced Concrete design</li>
            <li>Soil Mechanics</li>
            <li>Engineering of Water Supply and Sewerage</li>
            </p>
            <hr>
            전공수업을 통하여 공학쪽에 대한 지식을 갖추고 있으며 논리적인 이해를 빠르게 할 수 있습니다.<br>
            코드에 대한 구성 및 처리방식에 대한 이해를 빠르게 할 수 있다고 확신합니다.
            <hr>
            <p><b>Various Part-Time Jobs</b>
            <li>Restaurant SubManager</li>
            <li>IceCream Store Cashier</li>
            <li>Cafe Worker</li>
            <li>Product Inventory Management</li>
            <li>Product Consultation</li>
            </p>
            <hr>
            다양한 아르바이트를 경험하며 고객과의 관계를 원만하게 유지하며 빠른 일처리 방법을 습득하였습니다.<br>
            또한 재고관리 업무를 하며 보다 체계적이며 꼼꼼한 업무를 할 수 있습니다.<br>
            코드작업을 할 때 보다 효율적인 코딩과 오류가 일어날 확률을 줄일 자신이 있습니다.
            <hr>
            <p><b>Course Experience</b>
            <li>JAVA</li>
            <li>JAVA SCRIPT</li>
            <li>SPRING</li>
            <li>HTML</li>
            <li>LINUX</li>
            <li>GIT HUB</li>
            </p>
            <hr>
            위 같은 컴퓨터 스킬로 언어의 기초 활용이 가능하며 git 업데이트를 꾸준히 노력하고 있는<br>
            저는 이 강의를 지원할 자격이 있다 생각합니다.
        </td>
    </tr>


</table>

</body>
</html>