<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caption Test</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }

        td, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <!-- 표를 기준으로 가운데 정렬 -->
        <caption>
            <strong>Modern Cutting Edge Browser</strong>
            <p>Table Caption Test</p>
        </caption>
        <figcaption>
            <strong>figcaption</strong>
            <p>Test</p>
        </figcaption>
        <tr>
            <th>Browser</th>
            <th>Vendor</th>
            <th>Download</th>
        </tr>
        <tr>
            <th>Chrome</th>
            <th>Google</th>
            <th>https://www.google.com/chrome</th>
        </tr>
        <tr>
            <th>Firefox</th>
            <th>Mozilla</th>
            <th>https://www.mozilla.org/firefox</th>
        </tr>
        <tr>
            <th>Edge</th>
            <th>Microsoft</th>
            <th>https://www.microsoft.com/edge</th>
        </tr>
    </table>

</body>
</html>