<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }

        td {
            width: 80px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <caption>Table Test4</caption>
        <colgroup>
            <col>
            <col span="2" style="background-color: cornflowerblue">
            <col style="background-color: lemonchiffon">
        </colgroup>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>