<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDIEDOG-새로운 인디게임의 시작</title>
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
<div class="layout">
    <header class="layout-header">
        <div id="default-gnb">
            <div class="gnb-inner">
                <div class="col-left">
                    <h3><a href="/">LogoImg</a> </h3>
                </div>
                    <div class="col-center">
                <div class="col-center1">
                    <h3><a href="#home">All Game</a> </h3>
                </div>
                <div class="col-center2">
                    <h3><a href="#home">Game Pass</a> </h3>
                </div>
                <div class="col-center3">
                    <h3><a href="#home">Cloud Game</a> </h3>
                </div>
                <div class="col-center4">
                    <h3><a th:href="@{maincommunity/list}">Community</a> </h3>
                </div>
            </div>
            <div class="gnb-right">
                <div class="gnb-right-box">
                    <h3><a href="#home">LANGUAGE</a> </h3>
                </div>
                <div class="gnb-right-box">
                    <h3><a href="#home">Total Menu</a> </h3>
                </div> 
                <div class="gnb-right-box">
                    <h3><a th:href="@{/personalproject/home/loginForm}">Login</a> </h3>
                </div>
            </div>
            </div>
        </div>         
    </header>
        <div class="subs-pics">
            <div class="subs-pics1">
                <img src="/img/skullmainpageimage.jpg" alt="SKULL INDIEGAME">
            </div>
            <div class="subs-pics2">
                <img src="/img/lemiloremainimg.jpg" alt="SKULL INDIEGAME">
            </div>
            <div class="subs-pics3">
                <img src="/img/zheltermainimg.png" alt="SKULL INDIEGAME">
            </div>
            <div class="subs-pics4">
                <img src="/img/dungreedmainimg.jpg" alt="SKULL INDIEGAME" >
            </div>
            <div class="curtain"><h1 class="subs-font">저렴한 월정액 가격으로 더 많은 인디게임을 사용하는 혜택</br>
                다운이 필요없는 클라우딩 게이밍을 즐겨보세요</h1>
                <div class="box"><h2><a href="#subscribe">Subscribe</a></h2></div>
                <div class="box2"><h3><a href="#subscribe">더 많은 월정액 알아보기 ></a></h3></div>
            </div>
        </div>
        
    <div class="moregame-font"><h3>더 많은 게임을 만나보세요</h3></div>
    <!-- <div class="arrow-left">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 48.26"><title>arrow back-1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path id="arrow_back-1" data-name="arrow back-1" d="M57,21.13H10.24l16-16A3,3,0,1,0,22,.88L.88,22a3,3,0,0,0,0,4.24L22,47.38a3,3,0,1,0,4.24-4.24l-16-16H57a3,3,0,0,0,0-6Z"/></g></g></svg>
    </div> -->
    <div id="moregame">
        <img src="/img/ratropolismainimg.jpg" alt="skullllll">
        <img src="/img/dungreedmainimg.jpg" alt="skullllll">
        <img src="/img/lemiloremainimg.jpg" alt="skullllll">
        <img src="/img/hades.jpg" alt="skullllll">
        <img src="/img/witchinthewoods.jpg" alt="skullllll">
        <img src="/img/skullmainimage.jpg" alt="skullllll">
        <img src="/img/zheltermainimg.png" alt="skullllll">
    </div>
         <!-- <div class="arrow-right">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 48.26"><title>arrow back-2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path id="arrow_back-2" data-name="arrow back-2" d="M59.12,22,38,.88a3,3,0,0,0-4.24,4.24l16,16H3a3,3,0,0,0,0,6H49.76l-16,16a3,3,0,0,0,0,4.24,3,3,0,0,0,4.24,0L59.12,26.25A3,3,0,0,0,59.12,22Z"/></g></g></svg>
        </div> -->

</div>

</body>
</html>
