<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/indi-project/neoalgo.css">
    <title>Document</title>
</head>
<body>
    <nav class="uppervar">
        <!--로고, 홈 연결-->
    <div class="logobox">
        <img class="neoalgo-logo" src="/src/main/resources/static/img/neoalgoLogo.png">
        <a href=""></a><p class="neoalgocompany">Neoalgo</p></a>
    </div>
        <!--메뉴-->
        <ul div class="neoalgo-menu">
            <li><a href="">최신 인디 음악</a></li>
            <li><a href="">인디 음악 순위</a></li>
            <li><a href="">신인 소개</a></li>
            <li><a href="">신인 등록</a></li>
        </ul>
        <div class="registerbox">
            <a href=""><p class="signin">Sign in</p></a>
            <a th:href="@{/exercise/home?register}"><p class="joinus">Create account</p></a>
        </div>
            
        
    </nav>
    <!--메인 사진, 글귀-->
    <div class="bgcontainer">
        <img class="bg" src="/src/main/resources/static/img/neoalgobg.jpg">
    
        <div class="bgword"> 
        “Those who dance are considered insane by those who cannot hear the music.” <br>
        ― George Carlin -
        </div>
        <div class="signup">sign up for free</div>
    </div>
    <!--메인사진 sign in-->
    </body>
</html>