<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/career.css">
    <title>neoalgo nav login</title>
</head>
<body>
    <h1>neoalgo-music-nav-login</h1>

    <nav class="menuvar">
        <div class="menuvar-logo">
           <img src="img/sicongradation.png" width="40px" height="40px">
        </div>

        <ul div class="menuvar-menu">
            <li><a th:href="@{/param/board/get?inAboutme}">About Me</a></li>
            <li><a th:href="@{/param/board/get?inProject}">Project</a></li>
            <li><a th:href="@{/param/board/get?inCareer}">Career</a></li>
            <li><a th:href="@{/param/board/get?inProblemSolving}">Problem Solving</a></li>
            <li><a th:href="@{/param/board/get?myFirstPage}">Main Menu</a></li>
        </ul>
        <div>
        <a style="float: right"
        th:href="@{/exercise/home?register}">회원가입</a>
        </div>
        <div class="menubar-link">
            <a href="https://github.com/legossol"><img src="img/githubiconwhite.png"width="27px" height="27px"></a>
        </div>
    </nav>
</body>
</html>