<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/vue/trans.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ vue_message }}</h1>
        <ul>
            <!-- 반복문 lists에서 하나씩 뽑아서 list에 넣는다 -->
            <li v-for="list in lists">{{list}}</li>
        </ul>
        <!-- 싱글페이지로 모든 페이지 컨트롤 가능 -->
        <button v-on:click="handleClick">확인</button>
        <input v-model="initMsg" type="text"> : {{initMsg}}
        <button v-on:click="show = !show">수정</button>
        <transicion>
            <p v-if="show">내가 보여?</p>
        </transicion>
    </div>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                vue_message: 'fruit',
                initMsg : '엥',
                lists: ['apple', 'banana', 'grape', 'strawberry']
            },
            methods:{
                handleClick : function(e){
                    this.show = !this.show;
                    alert('클릭했다');
                }
            }
        });
    </script>
</body>
</html>