<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/border/border.css">
</head>
<body>
    <table class="table1">
        <caption>Performance Comparison</caption>
        <tr>
            <td>Cpu Timing</td>
            <td>Go cs Rust</td>
        </tr>
        <tr>
            <td>Memory Usage</td>
            <td>C vs Java</td>
        </tr>
        <tr>
            <td>Hardware Acceleration</td>
            <td>GPU vs FPGA</td>
        </tr>
    </table>
</body>
</html>