*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*정확한 width,height,padding을 표현하기 위해 ( 사용하지 않으면 아래 item 사이즈가 커짐 )*/
}
html{
    font-size: 63%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:#b1f9b3;
    justify-content: center;/*x축가운데 정렬*/
    align-items: center;/*y축 가운데 정력*/    
}
.item{
    width: 15rem;
    height: 15rem;
    margin: 5rem;/*마진은 여러 태그들 사이의 공간거리*/
    padding: 1px;/*padding은 요소 안의 컨텐츠와 border사이의 거리*/
    font-size: 5px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-weight: 100;
    box-shadow: 3px 3px 5px #f0f0f0
}