/*<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Monoton&display=swap" rel="stylesheet">*/
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Dhurjati&family=Do+Hyeon&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Dhurjati&family=Do+Hyeon&family=Jacques+Francois&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
.monoFont{
    font-family: 'Monoton', cursive;
    color: white;
}
.bilboFont{
  font-family: 'Bilbo Swash Caps', cursive;
  color: #f9f586;
  font-size: 350px;
  position: absolute; 
  text-align: center; 
  top: 43%;
  left: 35%;
  font-size: 20px;
}

.monoFontbigmode{
    font-family: 'Monoton', cursive;
    font-size: 350px;
    position: absolute; 
    text-align: center; 
    top: 60%; 
    left: 55%
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
.tri{
    width: 0px;height: 0px;
    border-bottom:5px solid rgb(255, 252, 102);
    border-right: 5px solid transparent;
    border-left: 5px solid  transparent;
    position: absolute;
    top: 6%;
    left: 65%;
  }
  .trisecond{
    width: 0px;height: 0px;
    border-bottom:5px solid rgb(255, 252, 102);
    border-right: 5px solid transparent;
    border-left: 5px solid  transparent;
    position: absolute;
    top: 6%;
    left: 75%;
  }  
  .trithird{
    width: 0px;height: 0px;
    border-bottom:5px solid rgb(255, 252, 102);
    border-right: 5px solid transparent;
    border-left: 5px solid  transparent;
    position: absolute;
    top: 6%;
    left: 85%;
  }  
  .myname{
    font-family: 'Dhurjati', sans-serif;
    position: absolute; 
    text-align: center; 
    font-size: 65px;
    font-weight: bold;
    color: #000000;
    top: 25%;
    left: 35%;
    text-shadow: 2px 6px 2px rgb(181, 181, 181); 
  }
  .francois-box{
    font-family: 'Do Hyeon', sans-serif;
    position: absolute;
    text-align: center; 
    font-size: 15px;
    width: 78px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: red;
    top: 48%;
    left: 35%;
  }
  button{
      position: absolute;
      width: 23px;
      top: 50.5%;
      left: 40.4%;
      margin: 0;
      padding: 0;
      background: transparent;
      border:0;
      border-top: 4px solid #fff;
  }
  button::before{
      content: '';
      position: absolute;
      top: -4px;
      left: 1;
      width: 15px;
      border-top: 4px solid#fff;
      transform-origin: right;
      transition: all .6s ease;
  }
  button::after{
      content: '';
      position: absolute;
      top: -4px;
      left: 1;
      width: 15px;
      border-top: 4px solid #fff;
      transform-origin: right;
      transition: all .6s ease;
  }
  button:hover::before{
    transform: rotate(45deg);
  }
  button:hover::after{
    transform: rotate(-45deg);
  }
  div{
    width: 3px;
    height: 3px;
    margin: 3px;
    display: inline-block;
  }
  .round{
    position: absolute;
    border: 3px solid red;
    border-radius: 20px;
  }
  .circle{
    position: absolute;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    background-size: cover;
  }
  .circle1 {
    position: absolute;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    width:10px;
    height:10px;
    top: 75%;
    left: 20%;
    border-radius:15px;
    text-align:center;
    margin:0 auto;
    vertical-align:middle;
    line-height:15px;
    }
    .circle2 {
      position: absolute;
      background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
      width:10px;
      height:10px;
      top: 15%;
      left: 31%;
      border-radius:15px;
      text-align:center;
      margin:0 auto;
      vertical-align:middle;
      line-height:15px;
      }    
    .circle3 {
      position: absolute;
      background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
      width:10px;
      height:10px;
      top: 60%;
      left: 82%;
      border-radius:15px;
      text-align:center;
      margin:0 auto;
      vertical-align:middle;
      line-height:15px;
      }
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: linear-gradient(to right, #868f96 0%, #596164 100%);
  text-shadow: silver 3px 5px 3px;
  font-size: 22px;
  text-decoration: none;
}
.javapic{
  position: absolute;
  top: 20%;
  left: 2%;
  width:6%;
  height:4%;
  height: auto;
  display: block; 
}
.jspic{
  position: absolute;
  top: 32%;
  left: 2%;
  width:6%;
  height:4%;
  height: auto;
  display: block; 
}
.springpic{
  position: absolute;
  top: 43%;
  left: 2%;
  width:6%;
  height:4%;
  height: auto;
  display: block; 
}
.csspic{
  position: absolute;
  top: 53%;
  left: 2%;
  width:6%;
  height:4%;
  height: auto;
  display: block; 
}
.htmlpic{
  position: absolute;
  top: 75%;
  left: 2%;
  width:6%;
  height:4%;
  height: auto;
  display: block; 
}
.gitpic{
  position: absolute;
  top: 64%;
  left: 2%;
  width:6%;
  height:4%;
  height: auto;
  display: block; 
}
