@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Do+Hyeon&family=Monoton&display=swap');
.athitiProject{
    font-family: 'Athiti', sans-serif;
    color: white;
    position: fixed; 
    left: 65%; 
    top: 0.5%; 
    font-size: 18px;
}
.athitiProfile{
    font-family: 'Athiti', sans-serif;
    color: white;
    position: fixed; 
    left: 75%; 
    top: 0.5%; 
    font-size: 18px;
}
.athitiCareer{
    font-family: 'Athiti', sans-serif;
    color: white;
    position: fixed; 
    left: 85%; 
    top: 0.5%; 
    font-size: 18px;
}