.img{
    position: relative;
    background-image: url(https://cdn.crowdpic.net/list-thumb/thumb_l_5BB095C3D4E5B9F319F95FA8090A8B5E.jpg);                                                               
    height: 100vh;
    background-size: cover;
  }

  .img-cover{
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);                                                                 
     z-index:1;
  }

  .img .content{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);                                                                   
     font-size:3rem;
     color: white;
     z-index: 2;
     text-align: center;
  }
.upperbar{
   position: relative;
   background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
   height: 70vh;
   margin: 0px;
   background-size:cover;
}
.upperMenu{
   position: relative;
   background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
   height: 5vh;
   background-size:cover;
}
.upperMenubar{
   position: absolute;
   
   background-image: url(https://e7.pngegg.com/pngimages/616/930/png-clipart-hamburger-button-computer-icons-menu-bar-line-angle-rectangle.png);
   height: 5vh;
   background-size: cover
}

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
.contact{
   position: relative;
   font-size: 20px;
   font-family: 'Do Hyeon', sans-serif;
}

  
  
