
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/portfolio/mainPortfolioTest.css">
</head>
<body>
<div class="navbar">
    <div>
    <a href="#home">홈</a>
    <a href="#you">나에게 호감을 표현한</a>
    <a href="#me">상대에게 호감을 표현한</a>
    <a href="#liveMeeting">실시간 매칭 서비스</a>
    </div>
        <div class="dropdown2">
        <button class="dropbtn2">
            특별한 데이트!
        </button>
        <div class="dropdown-contents2">
            <a href="#">흩날리는 벚꽃을 같이?!</a>
            <a href="#">야구는 치맥이지!</a>
            <a href="#">처녀귀신 love 호박귀신</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">
            My page
        </button>
        <div class="dropdown-contents">
            <a href="#">구매 내역이지롱.</a>
            <a href="#">배송 상태</a>
            <a href="#">포인트</a>
        </div>

        <div class="dropdown-foots">
            </br></br></br></br></br></br></br></br></br>
        <a href="#faq">FAQ(자주 묻는 질문)</a>
        <a href="#logout">로그아웃</a>
        <a href="#login">로그인</a>
        </div>
    </div>
</div>
</body>
</html>
