<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/portfolio/mainPortfol.css">
</head>
<body>
    <div id="header" role="banner">
        <fieldset>
            <legend class="visually-hidden">내가 원하는 이상형 검색</legend>
            <div class="search_box">
                <input type="text" maxlength="225" tabindex="1" />
                <button type="submit" tabindex="2">
                    검색
                </button>
                <a style="float: right" href="/">로그아웃</a>
                <a style="float: right" href="/">로그인</a>
            </div>
        </fieldset>

        <div class="navbar">
            <a href="#home">홈</a>
            <a>나에게 호감을 표현한</a>
            <a>상대에게 호감을 표현한</a>
            <a>실시간 매칭 서비스</a>
            <div class="dropdown">
                <button class="dropbtn">
                    마이 페이지
                </button>
                <div class="dropdown-contents">
                    <a href="#">구매 내역</a>
                    <a href="#">배송 상태</a>
                    <a href="#">포인트</a>
                </div>
            </div>

            <div class="dropdown2">
                <button class="dropbtn2">
                    특별한 데이트!
                </button>
                <div class="dropdown2-contents2">
                    <a href="#">흩날리는 벚꽃을 같이?!</a>
                    <a href="#">야구는 치맥이지!</a>
                    <a href="#">처녀귀신 love 호박귀신</a>
                </div>
            </div>
        </div>

    </div>


    <div id="main" role="main">메인</div>
    <div id="footer" role="contentinfo">
        <div class="notice_box">
            <a href="/">공지사항</a>
            <a href="/">서비스 전체보기></a>
        </div>
        <div class="aside_box">
                <div class="area_user_row">
                    <span class="text_bold-13">Partners</span>
                    <ul>
                        <li><a href="/">비즈니스 광고</a></li>
                        <li><a href="/">공유업체 등록</a></li>
                    </ul>
                </div>
            <div class="area_col">
                <div class="ac_content">
                    <div class="text_bold-13">내꺼 브라우저</div>
                    <div class="ac_link"><a href="/">내꺼 어플 다운받기</a></div>
                </div>
                <a href="/"><img src="images/icon_whale.png" class="ac_img"/></a>
            </div>
        </div>
        <div class="bottom_box">
            <ul>
                <li><a href="/">회사소개</a></li>
                <li><a href="/">인재채용</a></li>
                <li><a href="/">제휴제안</a></li>
                <li><a href="/">이용약관</a></li>
                <li><a href="/">개인정보처리방침</a></li>
                <li><a href="/">청소년보호정책</a></li>
                <li><a href="/">내꺼 정책</a></li>
                <li><a href="/">고객센터</a></li>
                <li><a href="/">&copy; 내꺼 Corp.</a></li>
            </ul>
        </div>
    </div>
</body>
</html>