<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/portfolio/mainPortfol.css">
</head>
<body>
    <div id="header" role="banner">상단</div>
    <div id="main" role="main">메인</div>
    <div id="footer" role="contentinfo">
        <div class="notice_box">
            <a href="/">공지사항</a>
            <a href="/">서비스 전체보기></a>
        </div>
        <div class="aside_box">
                <div class="area_user_row">
                    <span class="text_bold-13">Partners</span>
                    <ul>
                        <li><a href="/">비즈니스 광고</a></li>
                        <li><a href="/">공유업체 등록</a></li>
                    </ul>
                </div>
            <div class="area_col">
                <div class="ac_content">
                    <div class="text_bold-13">내꺼 브라우저</div>
                    <div class="ac_link"><a href="/">내꺼 어플 다운받기</a></div>
                </div>
                <a href="/"><img src="images/icon_whale.png" class="ac_img"/></a>
            </div>
        </div>
        <div class="bottom_box">
            <ul>
                <li><a href="/">회사소개</a></li>
                <li><a href="/">인재채용</a></li>
                <li><a href="/">제휴제안</a></li>
                <li><a href="/">이용약관</a></li>
                <li><a href="/">개인정보처리방침</a></li>
                <li><a href="/">청소년보호정책</a></li>
                <li><a href="/">내꺼 정책</a></li>
                <li><a href="/">고객센터</a></li>
                <li><a href="/">&copy; 내꺼 Corp.</a></li>
            </ul>
        </div>
    </div>
</body>
</html>