<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #container {
            background: #FAFAD2;
            height: 1600px;
        }
        #item {
            border: 1px solid #FFDAB9;
        }
        table {
            width: 70%;
            border: 1px solid red;

            border-collapse: collapse;
        }

        thead {
            background: #6B8E23;
        }
        td, th {
            border: 1px solid #228B22;
            padding: 10px;
            font-size: 1em;
        }
    </style>

</head>
<body>
<div id="container">
    <center>
    <h1><div id="item">LEE Jung Hyun</div></h1>
        <h3>mail: akdl911215@gmail.com</h3>
    <h3>number: +82 - 10 - 5093 - 9902</h3>
    <h3>adress: 서울시 중랑구 상봉중앙로 1길 26, 4층</h3>
    <h3><p><a href="https://github.com/akdl911215/" target="_blank">Gitbub: https://github.com/akdl911215/</a></p></h3>
    <h3><p><a href="https://akdl911215.tistory.com/" target="_blank">tistory Blog: https://akdl911215.tistory.com/</a></p></h3>
    </center>
    <hr>
    <ul id="menu">
        <!-- a href를 통해 contents1 이라는 참조를 생성한다 -->
        <!-- 참조를 생성할때는 #을 붙이는 것을 주의하도록 한다 -->
        <li><a href="#content1">Education</a> </li>
        <li><a href="#contents2">Technical stack</a> </li>
        <li><a href="#contents3">기타 정보</a> </li>
        <li><a href="#contents3">소개 / About Me</a> </li>
    </ul>
    <hr>

    <h2 id="content1">Eeducation</h2>
    <ul>
        <p><li>방송통신대학교 - 컴퓨터과학과</li></p>
        <p><li>비트캠프 - 디지털컨버전스기반 UXUI Front 전문 개발자양성과정</li></p>
    </ul>
    <h4><p><a href="#menu">위로</a></p></h4>
    </br></br>

    <section>
        <h2 class="subtitle">Techincal Stack</h2>
        <table>
            <thead>
            <tr>
                <th>Java</th>
                <th>JavaScript</th>
                <th>C</th>
                <th>C++</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>Spring</th>
                <th>Linux</th>
                <th>Github</th>
                <th>HTML</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>Microsoft</th>
                <th>Photoshop</th>
                <th>Com Mix</th>
                <th>Power Point</th>
            </tr>
            </thead>
        </table>
    </section>
    <p><a href="#menu">위로</a></p>
    </br></br>

    <h2 id="contents3">기타정보</h2>
    <ul>
        <p><li>전자기기기능사 자격증 취등(2009.12)</li></p>
        <p><li>1종 자동차 운전 면허증 취득(2010.03)</li></p>
        <p><li>육군 병장 만기 전역(2012.06)</li></p>
        <p><li>제17회수도권생활체육복싱대회우승트로피(2015.01)</li></p>
        <p><li>심리상담사 1급자격증 취득(2018.06)</li></p>
    </ul>
    <p><a href="#menu">위로</a></p>
    </br></br>

    <h2 id="contents4">소개 / About Me</h2>
        <p>브라우저 인터넷을 통해 사람들을 편안해지고 싶어하는 마음을 효율적으로
            개선해주는 매력에 빠진 주니어 개발자입니다.</br> 단! 한번의 클릭으로 주문도
        가능해지고, 언제 어디서든 편안하게 쇼핑도 가능하고,</br> 언제 어디서든 친구들을
        만날 수 있는 다양한 기술과 상상들이 현실이 되는 매력에 개발에 관심을 가지고
        학습하고 있습니다.</br></br>

        새로운 기술에 대한 거부감없이 적극적으로 학습하며 기술 및 학습하고 실수했던
        내용들을 정리하는 블로그를 통해서 꾸준한 성장을 노력하고 있습니다.</p>
    <p><a href="#menu">위로</a></p>
    </br></br>
</div>
</body>
</html>