<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/personalPortfolio.css">
</head>
<body>
<div id="container">

    <nav>
        <ul id="menu">
            <li><a href="#"><a href="#content1">Education</a></a></li>
            <li><a href="#"><a href="#content2">TechnicalStack</a></a></li>
            <li><a href="#"><a href="#content3">기타정보</a></a></li>
            <li><a href="#"><a href="#content4">소개/AboutMe</a></a></li>
        </ul>
    </nav>

    <center>
        <span style="color: #a77777">
            <div id="top-box1"><h1>LEE Jung Hyun (이정현)</h1></div></span>
        </br></br></br></br>

        <span style="color: white">
        <h3><img src="img/gmail.png" width="30" height="30"> akdl911215@gmail.com</h3>
        <h3><img src="img/phone.jpeg" width="30" height="30"> +82 - 10 - 5093 - 9902</h3>
        <h3><img src="img/adree.png" width="30" height="30"> 서울시 중랑구 상봉동</h3>
        <h3><p><a href="https://github.com/akdl911215/" target="_blank"><img src="img/github.png" width="30" height="30"> https://github.com/akdl911215/</a></p></h3>
        <h3><p><a href="https://akdl911215.tistory.com/" target="_blank"><img src="img/tstory.jpg" width="30" height="30"> Blog: https://akdl911215.tistory.com/</a></p></h3>
        </span>
    </center>

         <section>

             <div id="education">
         <h2 id="content1">Eeducation</h2>
         <ul>
             <p><li>방송통신대학교 - 컴퓨터과학과</li></p>
             <p><li>비트캠프 - 디지털컨버전스기반 UXUI Front 전문 개발자양성과정</li></p>
         </ul>
         <p><a href="#menu">위로</a></p>
             </div>
         </section>
         </br></br>

         <section>
             <div id="technicalStack">
             <h2 id="content2">Technical Stack</h2>
             <table>
                 <thead>
                 <tr>
                     <th>Java <img src="img/java.png" width="25" height="25"></th>
                     <th>JavaScript <img src="img/JavaScript.png" width="25" height="25"></th>
                     <th>C <img src="img/C.png" width="25" height="25"></th>
                     <th>C++ <img src="img/C++.png" width="25" height="25"></th>
                 </tr>
                 </thead>
                 <thead>
                 <tr>
                     <th>Spring <img src="img/spring.png" width="25" height="25"></th>
                     <th>Linux <img src="img/linux.png" width="25" height="25"></th>
                     <th>Github <img src="img/github.png" width="25" height="25"></th></th>
                     <th>HTML <img src="img/html.png" width="25" height="25"></th>
                 </tr>
                 </thead>
                 <thead>
                 <tr>
                     <th>Microsoft Word <img src="img/word.png" width="25" height="25"></th>
                     <th>Photoshop <img src="img/photoshop.png" width="25" height="25"></th>
                     <th>Com Mix <img src="img/commix.jpeg" width="25" height="25"></th>
                     <th>Power Point <img src="img/Powerpoint.png" width="25" height="25"></th>
                 </tr>
                 </thead>
             </table>
                 <p><a href="#menu">위로</a></p>
                 </br></br>
             </div>

         </section>

         <section>
         <div id="information">
         <h2 id="content3">기타정보</h2>
         <ul>
             <p><li>전자기기기능사 자격증 취등(2009.12)</li></p>
             <p><li>1종 자동차 운전 면허증 취득(2010.03)</li></p>
             <p><li>육군 병장 만기 전역(2012.06)</li></p>
             <p><li>제17회수도권생활체육복싱대회우승트로피(2015.01)</li></p>
             <p><li>심리상담사 1급자격증 취득(2018.06)</li></p>
         </ul>
             <p><a href="#menu">위로</a></p>
         </div>
         </br></br>
         </section>

         <section>
         <div id="AboutMe">
         <h2 id="content4">소개 / About Me</h2>
             <p>브라우저 인터넷을 통해 사람들을 편안해지고 싶어하는 마음을 효율적으로
                 개선해주는 매력에 빠진 주니어 개발자입니다.</br> 단! 한번의 클릭으로 주문도
             가능해지고, 언제 어디서든 편안하게 쇼핑도 가능하고,</br> 언제 어디서든 친구들을
             만날 수 있는 다양한 기술과 상상들이 현실이 되는 매력에 개발에 관심을 가지고
             학습하고 있습니다.</br></br>

             새로운 기술에 대한 거부감없이 적극적으로 학습하며 기술 및 학습하고 실수했던
             내용들을 정리하는 블로그를 통해서 꾸준한 성장을 노력하고 있습니다.</p>
             <p><a href="#menu">위로</a></p>
         </div>
         </br></br>
         </section>
     </div>
     <div class="grid">
         <div class="grid_item first"></div>
         <div class="grid_item two"></div>
         <div class="grid_item third"></div>
     </div>
     </body>
     </html>