ul{
    list-style: none;
}
li{
    width: 120px;
    display: inline-block;
    margin: 10px;
}
li a{
    padding: 5px 20px;
    font-size: 14px;
    color: blue;
    text-decoration: nene;
}
/* a href만 찾아서 아쿠아 색을 적용한다는 것을 의미함*/
a[href]{
    background-color:aqua;
}