#container{
    text-align: center;
    color: blueviolet;
}
table, tb, th{
    border: 1px solid #cccccc;
}
table {
    width: 200px;
    margin: 0 auto;
    border-collapse: collapse;
}
td{
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}
table tr:nth-child(2n + 1){
    background:  #f9e87f;
    color: black;
}