<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td{
            /* 테두리 두깨, 테두리 유형, 색상(ff =255)*/
            border: 1px solid #ccc;
        }
        td{
            /* 셀 테두리와 내용 상이의 간격 = 패딩*/
            padding: 5px 
        }
    </style>
</head>
<body>
    <table>
        <!--tr은 열  -->
        <tr>
            <th>1 row 1 colunm</th> 
            <td>1 row 2 colunm</td>
            <td>1 row 3 colunm</td>
        </tr>
        <th></th>
        <td></td>
        <td></td>
    </table>

</body>
</html>