.navbar {
    overflow: hidden;
    background-color: lavender;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: mediumpurple;
    color: white;
}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color; purple;
    min-width: 160px;
    /* rgba에서 a는 알파값으로 투명도를 의미함 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0 ,0 ,0.5);
    z-index: 1;
}

.dropdown-contents a {
    float: none;
    colorL black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contents a:hover {
    background-color: mediumpurple;
}

.dropdown:hover .dropdown-contents {
    display: block;
}