ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #222;
}

/* section의 하위 ul에 모두 적용 */
section ul {
    border: 1px solid;
}

/* section의 하위 ul에만 적용 */
section > ul {
    border: 1px solid;
}

/* h1옆에 자식 1개만 */
h1 + p {
    color: rebeccapurple;
    font-weight: 700;
}

/* h1옆에 자식들 모두 선택 */
h1 ~ p {
    display: inline-block;
    background-color: yellow;
}

.cash li {
    font-size: 20px;
}

/* a태그에 href가 포함되어 있을 경우 */
.cash li a[href] {
    background-color: tomato;
}

.flat {
    background-color: blue;
    color: #fff;
}

.btn {
    border: 3px solid turquoise;
}

/* 
.btn과 동일
[class ~= "btn"] {
    border: 3px solid red;
} 
*/

/* cash이거나 cash로 시작하는 속성 선택 */
li[title|="cash"] {
    font-size: 10px;
}

#container {
    text-align: center;
    color: #222;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

/* tr이 홀수번째 */
table tr:nth-child(2n + 1) {
    background-color: brown;
    color: #fff;
}
