:root {
    /* COLOR */
    --white-color: #fff;
    --black-color: #222;
    --point-color: rgb(220, 20, 60);
    /* FONT-SIZE */
    --medium-size: 16px;
}

a {
    color: var(--white-color);
}

p,
h3 {
    padding: 0;
    margin: 0;
}

/* NAVBAR */
.navbar {
    overflow: hidden;
    background-color: var(--black-color);
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    font-size: var(--medium-size);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .dropdown {
    float: left;
    overflow: hidden;
}

.navbar .dropdown .dropbtn {
    font-size: var(--medium-size);
    border: none;
    outline: none;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 14px 6px;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover,
.dropbtn:hover {
    background-color: var(--point-color);
}

.navbar .dropdown-cont {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar .dropdown-cont a {
    float: none;
    color: var(--black-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-cont a:hover {
    background-color: var(--point-color);
}

.dropdown:hover .dropdown-cont {
    display: block;
}

/* COLUMN-RULE */
section {
    padding: 20px;
    width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

section .multi {
    text-align: justify;
    /* 열 */
    column-count: 4;
    -webkit-column-count: 4;
    column-rule: 4;
    -webkit-column-rule: 4;
    column-rule: 2px dotted var(--black-color);
}

/* CUSTOM TABLE */
/* 1. 2중 테두리 */
.table {
    margin-bottom: 50px;
}

td {
    border: 1px dotted var(--black-color);
    padding: 10px;
    text-align: center;
}

.table1 {
    border: 1px solid var(--black-color);
    /* 테두리 없애기 */
    /* border-collapse: collapse; */
}

/* 2. 테두리 띄우기 */
.table2 {
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.table3 {
    border: 1px solid var(--black-color);
    border-collapse: separate;
    border-spacing: 20px 10px;
}

/* 3. 빈칸 처리 */
.schedule {
    border-collapse: separate;
    margin: 20px;
}

#tb1 td {
    empty-cells: show;
}

#tb2 td {
    empty-cells: hide;
    height: 50px;
}

#tb2 .va1 {
    vertical-align: top;
}

#tb2 .va2 {
    vertical-align: bottom;
}

#tb2 .va3 {
    vertical-align: middle;
}

/* 4. 테이블 너비 */
#tb3 {
    border-collapse: collapse;
    width: 300px;
    /* 내용에 맞게 셀 너비 지정 */
    table-layout: fixed;
    /* 셀 너비보다 긴 내용을 셀 내부에 표시 */
    word-break: break-all;
    height: auto;
}
