<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
<form>
    <ul>
        <li>
            <label>Occupancy Rate 0.7</label>
            <meter value="0.7"></meter>
        </li>
        <li>
            <label>Usage 33%</label>
            <meter min="0" max="100" value="33"></meter>
        </li>
        <li>
            <label>Network Traffic</label>
            <meter min="1024" max="20000" low="2048" high="16384" value="9212"></meter></br>
            <meter min="1024" max="20000" low="2048" high="9000" value="1500"></meter></br>
            <meter min="1024" max="20000" low="2048" high="16384" value="17000"></meter>
        </li>
    </ul>
</form>
</body>
</html>