<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.min.js">
</script>
</head>

<script>
    $(document).ready(function() {
        var formObj = $("#community")

        $("#btnRemove").on("click", function() {
            formObj.attr("action", "remove");
            formObj.submit();
        })
        $("#btnList").on("click", function() {
            self.location = "list"
        })
    })
</script>
<body>
    <div class="body__container">
        <div class="inner">

            <h2></h2>

            <div class="wrap">
                <form id="community" th:object="${community}" method="post">
                    <input type="hidden" name="listNo" th:field="*{listNo}"/>
                </form>
                <p>정말 삭제 하시겠습니까?</p>
                <button id="btnRemove" type="submit">확인</button>
                <button id="btnList" type="submit">취소</button>
            </div>
        </div>
    </div>
</body>
</html>