<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>H.C.C</title>
    <link rel="stylesheet" href="/css/project/home.css">
</head>
<body class="home">

      <div class="menubar">
      <a href="#http://localhost:8080/project/home">홈</a>
        <div class="dropdown">
             <button class="dropbtn">
               마이 페이지
              </button>
             <div class="dropdown-contents">
                 <a href="#">Personal Information</a>
                <a href="#">💪⭐gram️</a>
                <a href="#">History</a>
                <a href="#">schedule</a>
             </div>
        </div>
        <a href="#fap">FAQ(자주 묻는 질문)</a>
        <a style="float: right" href="logout">로그아웃</a>
        <a style="float: right" href="login">로그인</a>
        <a style="float: right" th:href="@{/exercise/menubar?signUp}" >회원가입</a>

</div>
</body>
</html>