<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTP-8">
        <title>legossol_resume</title>
        <!--align="center"와 { letter-spacing: 7em }를 사용하여 이력서 중간에가게 하려 했는데 더 오른쪽에 있다
        간격을 아래와 같이 하는 방법 말고 다른 방법이 뭐가 있나요?-->
        <h1><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            장 해 솔 (Jang Hae Sol)</strong></h1>
        <style>
            table, th, td{
                border: 1px solid #000000;
            }
            th, td {
                width: 140px;
            }
            thead, tfoot{
                background-color: aliceblue;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
            <th colspan=5 height=4 align="center" bgcolor="silver">이력서</th>
            </tr>

            <tr>
            <th rowspan="3" width=120 height=150><img src="/img/mySample.jpg"></th>
            <th bgcolor="silver">이름</th>
            <th>장 해솔</th>
            <th bgcolor="silver">영문 이름</th>
            <th>JangHaeSol</th>
            </tr>

            <tr>
            <th bgcolor="silver">E-mail</th>
            <th>wkdgothf@gmail.com</th>
            <th bgcolor="silver">git_link</th>
            <th><a href="https://github.com/legossol" target="_blank">https://github.com/legossol</a></th>
            </tr>

            <tr>
            <th colspan="1" bgcolor="silver">주소</th>
            <th colspan="3">000ho,7 33ga-gil wangsimliro sungdong-gu seoul </th>
            </tr>
            
            <tr>
                <th colspan="5" bgcolor="silver">가장 열정적이고 도전적으로 몰입하여 성과를 창출했거나 목표를 달성한 경험을 기술하시오.</th>
            </tr>

            <tr>
                <td colspan="5" lowspan="4">
                    <h3>‘자신의 목표를 위해 도전하는 자세’</h3><br>
                    영국에 처음 정착하여 생활을 시작하였을 때 저는 ‘The 5 am club’이라는 책을 읽고 5시에 일어나기를 도전하였습니다.
                    도전 초기에는 잦은 입 병과 피부 문제, 피곤함으로 포기하고 싶고 왜 하나 싶은 생각이 종종 들 때가 있었습니다. 하지만 포기하지 않고 도전을 계속하였고 후에는 알람을 맞추지 않아도 5시에 눈을 뜨게 되었습니다.
                    5시에 일어나기를 실천하면서 다른 작은 도전으로 헬스장을 찾게 되었습니다. 도전이 두석 달이 넘어가면서부터 식스팩을 가질 만큼 몸도 차차 좋아지기 시작했고 무엇보다 저 스스로 능력을 키울 수 있는 시간이 늘어나면서 독서와 공부에 치중할 수 있는 시간이 많아졌다는 거에 큰 성취감을 느끼게 되었습니다. <br>
                    5시에 일어나서 헬스를 한 뒤 10시 출근 전까지는 대부분 시간을 영어를 공부하는 데 사용하였습니다. 처음 영국에 도착했을 때는 영어로 대화를 잘 끌어내지 못하였기에 두렵고 자신감이 떨어졌지만 단 5개월 만에 업무능력을 인정받고 고객과의 소통 또한 특유의 친화력을 이용해 잘 끌어내는 절 보면서 가게의 사장님은 저에게 슈퍼바이저라는 직급으로 승진을 시키셨습니다. <br>
                    그 후에도 저는 5시에 일어나기를 지속하면서 가게의 매출을 끌어올려 저의 능력을 입증하기 위해 이벤트 기획과 직원 교육을 통한 고객 응대 메뉴얼 제작, 메뉴의 주문 변경 그리고 창고관리 시스템 등의 프로세스를 개혁했으며 그 결과로 일 평균￡2000~￡3000 파운드 나오던 매출을 ￡5000~￡6000파운드 까지 끌어올리며 능력을 다시 한 번 인정받아 연봉을 다시 협상하여 높은 봉급을 받게 되었습니다. <br>
                    저는 도전하는 것을 두려워하지 않습니다. 처음 외국 한 번 가본 적 없던 제가 영국에서 살기로 결심했을 때도 그러하였듯이 노력과 끊임없는 생각을 반복하면 어떠한 일도 단순한 헤프닝에 그치지 않는다는 마음가짐을 가지고 열심히 일 할 준비가 되어 있습니다.

                </td>
            </tr>

            <tr>
                <th colspan="5" bgcolor="silver">자신의 장점</th>
            </tr>

            <tr>
                <td colspan="5" lowspan="8" >
                    <h3>Expert of deal with a client</h3><br>
                    Through worked so many years on field. 
                    I had met so many client and deal with many complaints. 
                    My experiences working at many stores have taught me how to have a client-first mindset. 
                    Therefore, I’m strongly sure I can conduct the work as a Associate.<br>
                    
                    <h3>Communication skill</h3><br>
                    When I started a new project with my university students, 
                    there is a freshman who have some handicaps hearing and speaking. 
                    The other members reluctant to conduct a project with him. 
                    But I know he can conduct a data research and report writing so I recommended to do a project together. 
                    Finally, they accepted, we had to communicate by typing on notebook.  
                    Even if we couldn’t get a great result but I learn a lot through this experience.<br>
                    
                    <h3>Teamwork</h3><br>
                    During my time as a university student, I participated in many projects as a team leader. 
                    I adjusted many miscommunications between team members. As a result, we gain a good result. 
                    And also, during working as a Supervisor, I educated new colleagues and helps them fit in a new environment. <br>
                </td>
            </tr>

            <tr>
                <th colspan="5" bgcolor="silver">자격/어학사항</th>
            </tr>

            <tr>
                <th colspan="5" lowspan="3">자동차운전면허증(1종),ICDL,GAIQ,토익스피킹</th>
            </tr>
        </table>
    </body>
</html>
