<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resume</title>
</head>
<body>
<ol>
    <h1 align="center">DONGYOUNG</h1>
    <p align="center">Tel: 010-3265-5452
        Email: ehddud3254@naver.com
    </p>

    <h2>HIGHLIGHTS OF QUALIFICATIONS:</h2><hr>
    <ul style="list-style-type: disc">
        <li>Ability to work on orders and instructions</li>
        <li>Work well independently or in a team environment</li>
        <li>Friendly, positive and responsibility personality</li>
        <li>Well-organized and good at time management skills</li>
    </ul>
    <h2>EDUCATION:</h2><hr>
    <p align="right">March.2012-February.2015</p>
    <h3>&ensp;&ensp;High school</h3>
    <p>&ensp;&ensp;Seoul High School- Seoul, South Korea</p>
    <ul style="list-style-type: disc">
        <li>High school diploma</li>
    </ul>
    <h2>MILTARY SERVICE:</h2><hr>
    <p align="right">February.2016-November.2017
    <h3>&ensp;&ensp;Republic of Korea Army</h3>
    &ensp;&ensp; A supply unit - Republic of Korea
    </p>
    <ul style="list-style-type: disc">
        <li>
            Completion of Military Service
        </li>
    </ul>
</ol>
</body>
</html>