<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Make Your Own Blending</title>
    <style>
        div {
            display: flex;
        }
    </style>
</head>
<body>
<h2>Make Your Own Blending!</h2>
    <div>
        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="About Us">
            <input type="hidden" name="about" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="CustomBlending">
            <input type="hidden" name="customBlending" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="SingleOrigin">
            <input type="hidden" name="singleOrigin" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="Blending">
            <input type="hidden" name="blending" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="Equipment">
            <input type="hidden" name="equipment" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="Notice">
            <input type="hidden" name="notice" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="join">
            <input type="hidden" name="join" value="1">
        </form>

        <form th:action="@{/MUOB/menu/get}">
            <input type="submit" value="cart">
            <input type="hidden" name="cart" value="1">
        </form>
    </div>
</body>
</html>