#container{
    text-align: center;
    color: #ff9393;
}
table, tb, th{
    border: 1px solid black;
}
table{
    width: 200px;
    margin: 0 auto;
    border-collapse: collapse;
}
td{
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}
/* 홀수 번째의 경우*/
table tr:nth-child(2n +1){
    /*3의 배수 3n +1*/
    background: #ddddff;
    color: black;
}